@import "../../default.scss";

.post-author {
  // width: 35em;
  height: auto;
  display: flex;
  justify-content: center;

  @include e("avatar") {
    margin: auto;

    img {
      width: 12.25em;
      height: auto;
      border-radius: 50%;
    }
  }

  @include e("info") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.875em;

    @include e("position") {
      color: $font-color;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 0.75em;
      line-height: 1.625em;

      &::before {
        content: "";
        height: 1px;
        width: 51px;
        margin-right: 3%;
        background: $main-color;
        display: inline-block;
        vertical-align: middle;
      }
    }

    @include e("name") {
      font-family: $font-family-special;
      text-transform: capitalize;
      font-size: 1.875em;
      margin: 4px 0 14px 0;

      a {
        color: $color-grey;
        text-decoration: none;
        transition: 300ms;

        &:hover {
          color: $main-color;
        }
      }
    }

    @include e("description") {
      font-size: 0.9375em;
      color: $font-color;
      letter-spacing: 0.025em;
      word-spacing: 0.05em;
      line-height: 1.625em;
      margin-bottom: 10px;
    }
  }
}