@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap");

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

//block modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

$main-color: #00a3af;
$sub-main-color: #83ccd2;
$background-color: #eff7fc;
$border-color: #edf7fc;
$light-border-color: rgba(131, 204, 210, 0.4);
$table-border-color: lighten($sub-main-color, 10%); //#e5e5e5;

$font-title: "Quicksand", sans-serif;
$font-body: "Quicksand", sans-serif;

$font-family-special: "Noto Serif SC", serif;
$font-family-number: "Cormorant", serif;

$font-size: 16px;
$font-size-1200: 21px;
$font-size-992: 20px;
$font-size-768: 20px;
$font-size-600: 19px;
$font-size-375: 19px;
$font-size-title-item: 1.2em;
$font-color: rgba(0, 0, 0, 0.7);
$font-note-color: rgb(187, 184, 184);

$color-grey: #363738;

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: $main-color;
}

::selection {
  color: #fff;
  background: $main-color;
}

* body {
  font-family: $font-body;

  .title,
  &--title {
    font-family: $font-title;
  }
}

.body {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.my-container {
  max-width: 1180px;
  margin: 0px auto;
}

.background-overlay {
  position: fixed;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

//#89c3eb
// #A0D8EF
// #C2E6F4
//DCF0F9
// #EDF7FC
.manager {
  display: flex;
  flex-direction: row;
  height: 100vh;
  @include e("header") {
  }
  @include e("sidebar") {
    width: 20%;
    .sidebar {
      position: fixed;
      width: 20%;
    }
  }
  @include e("body") {
    min-height: calc( 100% - 100px );
    width: 78%;
    margin: 100px 1%;
    @include e("card") {
      margin: 4em 0 3em;
      background-color: #fff;
      padding: 1em 0;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      @include e("title") {
        width: 10em;
        position: absolute;
        top: -0.8em;
        left: 0.8em;
        padding: 1em 0;
        text-align: center;
        background-color: $main-color;
        color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
        box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
      }
      @include e("content") {
        padding: 4em 0 0;
        @include e("steps") {
          margin: 0 0 3em;
        }
        @include e("info") {
          margin: 0 0 3em;
        }
      }
      @include e("buttons") {
        display: flex;
        justify-content: center;
        padding: 0em 0em 2em;
        @include e("btn") {
          font-size: 1em;
          padding: 0.6em 1.8em;
          margin-right: 2em;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          font-family: $font-body;
          transition: 200ms ease;
          color: $main-color;
          background-color: lighten($sub-main-color, 25%);
          box-shadow: 1px 1px 5px #ebebeb;
          text-transform: uppercase;
          cursor: pointer;
          &:nth-last-child(1) {
            margin-right: 0;
          }
          &:disabled {
            cursor: no-drop;
            background-color: #ebebeb;
            color: $font-color;
          }
          i {
            font-size: 0.9em;
          }
          &:not(:disabled):hover {
            cursor: pointer;
            background-color: $main-color;
            color: #fff;
          }
        }
        @include e("btn-previous") {
          i {
            margin-right: 0.4em;
          }
        }
        @include e("btn-next") {
          i {
            margin-left: 0.4em;
          }
        }
      }
    }
  }
}


.member-table {
  width:100% ;
  background: #fff;
}
.member-table > td, th  {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.member-table > tr:last-child {
  border-bottom: none;
  text-align: left;
  padding: 8px;
}
.member-table >  th, td {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.member-table > tr:hover {
  background-color: #bbb
}

.avatar-image {
  width: 100px;
  height: 100px;
}