@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap");

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

//block modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

$main-color: #00a3af;
$sub-main-color: #83ccd2;
$background-color: #eff7fc;
$border-color: #edf7fc;
$light-border-color: rgba(131, 204, 210, 0.4);
$table-border-color: lighten($sub-main-color, 10%); //#e5e5e5;

$font-title: "Quicksand", sans-serif;
$font-body: "Quicksand", sans-serif;

$font-family-special: "Noto Serif SC", serif;
$font-family-number: "Cormorant", serif;

$font-size: 16px;
$font-size-1200: 21px;
$font-size-992: 20px;
$font-size-768: 20px;
$font-size-600: 19px;
$font-size-375: 19px;
$font-size-title-item: 1.2em;
$font-color: rgba(0, 0, 0, 0.7);
$font-note-color: rgb(187, 184, 184);

$color-grey: #363738;

$hover-color: lighten($sub-main-color, 30%);

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: $main-color;
}

::selection {
  color: #fff;
  background: $main-color;
}

* body {
  font-family: $font-body;

  .title,
  &--title {
    font-family: $font-title;
  }
}
