@import "../../default.scss";

$font-family-name: "Noto Serif SC",
serif;

.class-trainer {
  width: 100%;
  height: 22em;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  // margin: auto;

  @include e("img") {
    width: 22em;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      &:hover {
        transition: transform 1s ease-in;
        transform: scale(1);
      }

      &:not(:hover) {
        transition: transform 1s ease-out;
        transform: scale(1.03);
      }
    }
  }

  @include e("info") {
    width: 55%;
    padding-left: 2em;

    @include e("name") {
      font-size: 2em;
      text-transform: capitalize;
      color: $main-color;
      font-family: $font-family-name;
      margin: 0.8em 0;
      letter-spacing: 0.05em;
      font-weight: 600;
    }

    @include e("description") {
      font-size: 1.1em;
      color: $font-color;
      line-height: 140%;
      word-spacing: 0.05em;
      line-height: 1.6em;
    }

    @include e("detail") {
      margin-top: 1.6em;

      .list-items {
        list-style-type: none;
        padding: 0;

        &::first-letter {
          text-transform: capitalize;
        }

        @include e("item") {
          display: flex;
          margin: 8px 0;

          @include e("name") {
            letter-spacing: 0.05em;
            font-size: 1.1em;
            font-family: $font-family-name;
            width: 40%;
            color: $main-color;
          }

          @include e("content") {
            color: $font-color;
            font-size: 1.1em;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}