@import "../../default.scss";

.news2 {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  @include e("inner") {
    padding: 1.1em 0 1.5em;
    border-bottom: 1px solid #ebebeb;
    @include e("info") {
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 0.6em;
      text-align: center;
      color: $main-color;
      letter-spacing: 0.1em;
      a {
        text-decoration: none;
        color: $main-color;
        transition: 300ms;
        &:hover {
          color: $color-grey;
        }
      }
      @include e("author") {
        display: inline-block;
        &::after {
          content: "/";
          display: inline-block;
          margin: 0 3px;
        }
      }
      @include e("category") {
        display: inline-block;
        &::after {
          content: "/";
          display: inline-block;
          margin: 0 3px;
        }
      }
      @include e("tags") {
        display: inline-block;
      }
    }
    @include e("title") {
      text-align: center;
      font-weight: 400;
      margin-top: 0.5em;
      margin-bottom: 2em;
      padding: 0 4em;
      a {
        text-decoration: none;
        color: $color-grey;
        font-family: $font-family-special;
        font-size: 1.5em;
        line-height: 1.25em;
        text-transform: capitalize;
        transition: 300ms;
        &:hover {
          color: $main-color;
        }
      }
    }
    @include e("image") {
      width: 100%;
      margin-bottom: 1.5em;
      position: relative;
      @include e("dateCreated") {
        position: absolute;
        top: 0;
        left: 3%;
        text-align: center;
        a {
          text-decoration: none;
          color: $main-color;
          transition: 300ms;
          &:hover {
            color: $color-grey;
          }
          span {
            display: block;
            font-family: $font-family-special;
            font-weight: 500;
            text-align: center;
            background-color: #fff;
          }
        }
        @include e("day") {
          font-size: 1.2em;
          line-height: 3em;
        }
        @include e("month") {
          padding: 0 2em;
          font-size: 0.9em;
          line-height: 2em;
          margin-top: 0.1em;
          text-transform: capitalize;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    @include e("content") {
      font-size: 0.8em;
      line-height: 1.5em;
      color: $font-color;
    }
    @include e("more") {
      padding: 0.8em 0 3em;
      display: flex;
      align-items: center;
      text-align: center;
      @include e("comments-and-loves") {
        width: 25%;
        font-size: 0.65em;
        color: $main-color;
        text-align: left !important;
        a {
          text-decoration: none;

          color: $main-color;
          transition: 300ms;
          i {
            margin-right: 5px;
          }
          &:hover {
            color: $color-grey;
          }
        }
      }
      @include e("button") {
        width: 50%;
        margin: 1.5em 0 0.25em 0;
        .default-button__link__content {
          text-transform: uppercase;
          padding: 1em 1.25em;
        }
      }
      @include e("other") {
        width: 25%;
      }
    }
  }
}
