@import "../../default.scss";

.post-item {
	&--wrap {
		$width-wrap: 114px;
		display: flex;
		flex-direction: column;
		.post-item {
			&__img {
				flex: 1;
				text-align: center;
				margin: 10px;
				overflow: hidden;
				img {
					width: $width-wrap;
					height: 145px;
					transition: all 2s ease-out;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
			&__content {
				flex: 2;
				text-align: center;
				&--title {
					font-family: $font-title;
					padding: 10px;
					a {
						text-decoration: none;
						color: #555555;
					}
					a:hover {
						color: $color-hover;
						cursor: pointer;
					}
				}
				&--time {
					color: rgb(177, 177, 177);
					font-size: 0.75em;
				}
			}
		}
	}
}
