@import "../../default.scss";

.related-post {
  width: 100%;

  @include e("image") {
    width: 100%;
    margin-bottom: 1em;
    position: relative;

    @include e("created-date") {
      position: absolute;
      top: 0;
      left: 3%;
      text-align: center;
      span {
        display: block;
        font-family: $font-family-special;
        font-weight: 500;
        text-align: center;
        background-color: #fff;
        color: $main-color;
      }
      @include e("day") {
        font-size: 0.9em;
        line-height: 2em;
      }
      @include e("month") {
        padding: 0 0.5em;
        font-size: 0.75em;
        line-height: 2em;
        margin-top: 0.1em;
        text-transform: capitalize;
      }
    }
    img {
      width: 100%;
      height: 15em;
      object-fit: cover;
    }
  }

  @include e("title") {
    font-family: $font-family-special;
    text-transform: capitalize;
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: $color-grey;
      transition: 200ms ease;
      &:hover {
        color: $main-color;
      }
    }
  }

  @include e("author") {
    text-transform: uppercase;
    margin-top: 0.7em;
    font-size: 0.75em;
    color: $font-color;
    a {
      text-decoration: none;
      color: $main-color;
      transition: 200ms ease;
      &:hover {
        color: $color-grey;
      }
    }
  }
}
