@import "../../default.scss";

.related-post {
  font-size: $font-size;
  font-family: $font-family-special;
  width: 20em;
  // height: 20em;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
  margin-bottom: 1.873em;

  @include e("img") {
    position: relative;
    margin-bottom: 1.6em;

    img {
      width: 100%;
      height: auto;
    }

    @include e("created-date") {
      position: absolute;
      top: 0;
      text-align: center;
      margin-left: 1.1em;
      color: $main-color;

      &:hover {
        color: darken($main-color, 20%);
      }

      div {
        display: block;
        font-weight: 500;
        text-align: center;
        background-color: #fff;
      }

      @include e("day") {
        width: 4em;
        font-size: 1.2em;
        line-height: 4em;
      }

      @include e("month") {
        font-size: 0.9em;
        line-height: 2em;
        margin-top: 2px;
        text-transform: capitalize;
      }
    }
  }

  @include e("author") {
    a {
      text-decoration: none;
      color: $sub-main-color;

      &:hover {
        color: $color-grey;
      }
    }

    text-transform: uppercase;
    line-height: 2em;
    font-size: 0.75em;
    margin-bottm: 0.375em;
  }

  @include e("title") {
    a {
      text-decoration: none;
      color: $color-grey;

      &:hover {
        color: $main-color;
      }
    }

    text-transform: capitalize;
    font-size: 1.875em;
  }
}