@import "../../default.scss";

.contact-us {
  position: relative;
  // -webkit-box-shadow: 0 0 15px rgba(131, 204, 210, 0.2);
  // box-shadow: 0 0 15px rgba(131, 204, 210, 0.2);
  // background-image: url("https://images.squarespace-cdn.com/content/v1/523c8cd7e4b0cc256b0f8746/1503656828390-8AVA7X34APK0YB393UF5/ke17ZwdGBToddI8pDm48kMWB_b-n6a50YzIZsjMYkmt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hveExjbswnAj1UrRPScjfAsZste21sIDg4hzF3IoAd0gcytUQrJ8Q9Y5sp8n9LlOw/minea-berg-design-yoga-illustration.jpg?format=1000w");
  // background-position: -112% 9px;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  @include e("overlay") {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    //z-index: -1;
  }
  @include e("form") {
    z-index: 0;
    width: 50%;
  }
  //   @include e("form"){
  //     z-index: 0;
  //     padding: 0 2em 0 0;
  //     display: flex;
  //     flex-direction: column;
  //     flex-basis: 50%;
  //     justify-content: center;

  //   @include e("input") {
  //       box-sizing: border-box;
  //       width: 100%;
  //       background: #fff; //#fcfcfc;
  //       color: $font-color;
  //       font-size: 0.875em;
  //       font-family: $font-body;
  //       //box-shadow: 0 0 10px 0 rgba(0, 0, 0 , 0.03);
  //       border: 1px solid $table-border-color;
  //       outline: 0;
  //       padding: 1em 0.875em;
  //       margin: 0.5em 0;

  //       &:focus {
  //         border: 1px solid $main-color;
  //       }
  //     }

  //     @include e("select-box") {
  //       box-sizing: border-box;
  //       width: 100%;
  //       background: #fff; //#fcfcfc;
  //       color: $font-color;
  //       //box-shadow: 0 0 10px 0 rgba(0, 0, 0 , 0.03);
  //       border: 1px solid $table-border-color;
  //       padding: 0.8em 0.875em;
  //       margin: 0.5em 0;
  //       outline: 0;

  //       @include e("select") {
  //         width: 100%;
  //         border: none;
  //         outline: none;
  //         background: none;
  //         -webkit-appearance: none;
  //         color: inherit;
  //         font-size: 0.875em;
  //         font-family: $font-body;
  //       }
  //     }

  //     @include e("btn") {
  //       text-transform: uppercase;
  //       letter-spacing: 0.1em;
  //       font-size: 0.9em;
  //       width: 100%;
  //       display: block;
  //       font-family: $font-body;
  //       // background: transparent;
  //       // color: inherit;
  //       // font: inherit;
  //       // border-radius: 2px;
  //       border: 0;
  //       outline: 0;
  //       margin: 0;
  //       margin-top: 0.5em;
  //       padding: 1em 0.875em;
  //       transition: all 300ms ease-in;
  //       cursor: pointer;

  //       @include m("primary") {
  //         background: $main-color;
  //         color: #fff;
  //         border: 1px solid $main-color;

  //         &:hover {
  //           // background: darken($main-color, 4%);
  //           background-color: transparent;
  //           color: $main-color;
  //           border: 1px solid $main-color;
  //         }

  //         &:active {
  //           // background: $main-color;
  //           // // box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
  //           // box-shadow: 1px 1px 10px 0 $sub-main-color;
  //         }
  //       }
  //     }
  // }

  @include e("sub-info") {
    width: 45%;
    margin-left: 5%;
    z-index: 0;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    @include e("brand") {
      color: $font-color;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.15em;

      &::before {
        content: "";
        height: 1px;
        width: 13%;
        margin-right: 3%;
        background: $main-color;
        display: inline-block;
        vertical-align: middle;
      }
    }

    @include e("title") {
      font-family: $font-family-special;
      letter-spacing: 0.05em;
      color: $main-color;
      text-transform: capitalize;
      font-size: 2.3em;
      margin: 0.2em 0;
    }

    @include e("content") {
      letter-spacing: 0.05em;
      word-spacing: 0.025em;
      color: $font-color;
      margin-top: 1em;
      margin-bottom: 1.5em;
      font-size: 0.9em;
    }

    @include e("contact-info") {
      @include e("item") {
        margin: 1em 0;

        a {
          text-decoration: none;
          color: $font-color;
          font-size: 0.9em;
          &:hover {
            color: $main-color;
          }
        }

        .icon {
          font-size: 1em;
          width: 2em;
          color: $main-color;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
