@import "../../../../../default.scss";

.new-post-info {
  width: 100%;
  background-color: #fff;

  .new-post-info__title-text {
    color: $color-grey;
    font-size: 1em;
    span {
      color: #ee827c;
      font-style: italic;
      font-size: 0.8em;
    }
  }

  .new-post-info__input-box {
    background: #fff;
    color: $font-color;
    font-family: $font-body;
    font-size: 1em;
    border: 1px solid $table-border-color;
    border-radius: 5px;
    outline: none;
    width: 90%;
    padding: 0.5em 5%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.9em;
    }
    &:focus {
      outline: none;
      border: 1px solid $main-color;
    }
  }

  .new-post-info__select-box {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    color: $font-color;
    border: 1px solid $table-border-color;
    border-radius: 5px;
    padding: 0.5em 5%;
    outline: 0;
    &:focus {
      outline: none;
      border: 1px solid $main-color;
    }

    @include e("select") {
      width: 100%;
      border: none;
      outline: none;
      background: none;
      -webkit-appearance: none;
      color: inherit;
      font-size: 1em;
      font-family: $font-body;
    }
  }

  .new-post-info__text-area {
    textarea {
      width: 90%;
      resize: vertical;
      border: none;
      outline: none;
      font-size: 1em;
      font-family: $font-body;
      color: $font-color;
      border: 1px solid $table-border-color;
      border-radius: 5px;
      padding: 1em 5%;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.9em;
      }
      &:focus {
        outline: none;
        border: 1px solid $main-color;
      }
    }
  }

  .divider {
    height: 1px;
    background-color: $table-border-color;
    border: none;
    margin: 0px;
  }

  @include e("title") {
    font-size: 1.1em;
    color: $main-color;
    font-weight: bold;
    margin-left: 1.75em;
    letter-spacing: 0.05em;
    padding: 1em 0;
    font-family: $font-family-special;
  }

  @include e("form") {
    padding-left: 0;
    margin: 0 0 0 2em;
    padding-bottom: 1em;

    @include e("info") {
      position: relative;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1.2em 3em;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 2em;
      row-gap: 1em;
      @include e("item") {
        .new-post-info__title-text {
          width: 100%;
          margin-bottom: 1em;
        }
        @include e("error-message") {
          width: 100%;
          font-size: 0.8em;
          color: red;
        }
      }
      @include e("icon") {
        position: absolute;
        left: 0em;
        top: 1.5em;
        transform: translateX(-50%);
        width: 2.3em;
        height: 2.3em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lighten($sub-main-color, 25%);
        box-shadow: 1px 1px 10px #ebebeb;
        i {
          color: $main-color;
          font-size: 0.9em;
        }
      }
      & > .new-post-info__title-text {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      @include e("add-photo") {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 1em 0;
      }
    }
  }
}
