@import "../../default.scss";

$hover-color: lighten($sub-main-color, 27%);

// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes in {
//   0% {
//     width: 0px;
//   }
//   100% {
//     width: 100%;
//   }
// }

// /* Standard syntax */
// @keyframes in {
//   0% {
//     width: 0px;
//   }
//   100% {
//     width: 100%;
//   }
// }

// /* Standard syntax */
// @keyframes out {
//   0% {
//     width: 100%;
//   }
//   100% {
//     width: 0px;
//   }
// }

// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes out {
//   0% {
//     width: 100%;
//   }
//   100% {
//     width: 0px;
//   }
// }

.hoverDiv {
  @include e("link") {
    color: $font-color;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    //line-height: 28px;
    //letter-spacing: 0.1em;
    @include e("content") {
      position: relative;
      display: inline;
      padding: 0 0.5em;
      z-index: 0;
      @include m("hover") {
        position: absolute;
        left: 0;
        bottom: -0.5em;
        background-color: $hover-color;
        z-index: -1;
        -webkit-transition: width 0.5s ease;
        transition: width 0.5s ease;
      }
    }
  }
  &:hover .hoverDiv__link {
    color: $main-color;
    transition: 200ms;
  }
  &:hover .hoverDiv__link__content--hover {
    height: 1.1em;
    width: 100%;
    // -webkit-animation: in 0.5s 1 forwards;
    // animation: in 0.5s 1 forwards;
  }
  &:not(:hover) .hoverDiv__link__content--hover {
    height: 1.1em;
    width: 0%;
    // -webkit-animation: out 0.5s 1 forwards;
    // animation: out 0.5s 1 forwards;
  }
}
