@import "../../default.scss";

//block-element
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
//block modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}


$hover-color: lighten($sub-main-color, 25%);


// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes in {
//   0% {
//     width: 0px;
//   }
//   100% {
//     width: 100%;
//   }
// }

// /* Standard syntax */
// @keyframes in {
//   0% {
//     width: 0px;
//   }
//   100% {
//     width: 100%;
//   }
// }

// /* Standard syntax */
// @keyframes out {
//   0% {
//     width: 100%;
//   }
//   100% {
//     width: 0px;
//   }
// }

// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes out {
//   0% {
//     width: 100%;
//   }
//   100% {
//     width: 0px;
//   }
// }

.hover-div {
  position: relative;
  display: inline-block;
  @include m("hover") {
    position: absolute;
    left: 0;
    bottom: -0.5em;
    background-color: $hover-color;
    z-index: -1;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
  }
  a {
    color: $font-color;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 0em 0.4em;
    text-decoration: none;
   
  }
  &:hover a {
    color: $main-color;
    transition: 200ms;
  }
  &:hover .hover-div--hover {
    height: 1.1em;
    width: 100%;
    // -webkit-animation: in 0.5s 1 forwards;
    // animation: in 0.5s 1 forwards;
  }
  &:not(:hover) .hover-div--hover {
    height: 1.1em;
    width: 0%;
    // -webkit-animation: out 0.5s 1 forwards;
    // animation: out 0.5s 1 forwards;
  }
}
