@import '../../../default.scss';

.register-btn {
    font-size: 16px;
    font-family: "Noto Serif SC", serif;
    margin-left: 1em;
    color: #fff;
    text-transform: capitalize;
    line-height: 130%;
    padding: 0.7em 3.5em;
    // border-radius: 4px;
    background-color: $main-color;
    cursor: pointer;
    border: 1px solid $main-color;

    &:hover {
        // background-color: darken($main-color, 20%);
        background-color: #fff;
        color: $main-color;
    }
}