@import "../../default.scss";
//block-element
@mixin e($element){
    &__#{$element} {
        @content;
    }
}
//block modifier
@mixin m($modifier){
    &--#{$modifier} {
        @content;
    }
}

.header-wrapper{
    font-family: $font-title;
    font-size: 16px;
    border-bottom: 1px solid $sub-main-color;
    background-color: #fcfcfc;
    
    @include e('page-menu-area') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 70px;
        margin: 0 70px;       
        @include e('left') {
            display: flex;
            align-items: center;
            height: 100%;
            font-weight: 400;
            font-size: 1em;
            z-index: 2;
            @include e('logo-wrapper'){
                @include e('a'){
                    @include e('img'){
                        height: 70px;
                    }
                }
            }
            @include e('navbar'){
                height: 100%;
                @include e('list-items') {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    @include e('item') {                        
                        float: left;  
                        height: 100%;
                        padding: 1.8em 1em;
                        &:focus, &:focus-within, &:hover{
                            .sub-navbar{
                                visibility: visible; /* shows sub-menu */
                                opacity: 1;
                                z-index: 1;
                                transform: translateY(0%);
                                transition-delay: 0s, 0s, 0.5s;
                            }
                        }
                        .sub-navbar{
                            margin: 29px 0 0 -30px;
                            position: absolute;
                            display: flex;
                            flex-direction: column; 
                            border: 1px solid $sub-main-color;  
                            background: #fcfcfc;
                            visibility: hidden;   
                            opacity: 0;
                            transition: opacity 0.3s, all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                            li{
                                padding: 0.5em 1em;
                            }                          
                        }                   
                    }
                }
            }
        }
        @include e('right'){
           @include e('more-btn'){
               font-size: 0.5em;
               letter-spacing: 2px;
           }
        }
    }
}