@import "../../default.scss";
//block-element
@mixin e($element){
    &__#{$element} {
        @content;
    }
}
//block modifier
@mixin m($modifier){
    &--#{$modifier} {
        @content;
    }
}

.header-wrapper{
    font-family: $font-title;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    background-color: $background-color;
    @include e('page-menu-area') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        margin: 0 70px;       
        
        @include e('left') {
            display: flex;
            align-items: center;
            height: 100%;
            font-weight: 400;
            font-size: 0.8em;
            @include e('logo-wrapper'){
                @include e('a'){
                    @include e('img'){
                        height: 70px;
                    }
                }
            }
            @include e('navbar'){
                height: 100%;
                @include e('list-items'){
                    display: flex;
                    height: 100%;
                    margin: 0;
                    padding-left: 20px;
                    list-style-type: none;
                    @include e('item'){
                        height: 100%;                                                
                        text-transform: uppercase;
                        &:hover {
                           .category-name{
                               color: $main-color;
                            }
                           .hover-dropdown{
                            opacity: 1!important;
                            visibility: visible!important;
                            overflow: visible!important;
                            }
                        }                        
                        .category-name{
                            padding: 0 20px;
                            text-decoration: none;
                            color: $color-grey;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;                            
                        }
                        .hover-dropdown{
                            opacity: 0;
                            visibility: hidden;
                            overflow: hidden;
                           
                        }
                        @include e('dropdown'){
                            position: absolute;
                            margin: 0;
                            padding: 0;
                            list-style-type: none;
                            background: #fbfbfb;
                            @include e('inner'){
                                position: relative;
                                z-index: 200;
                                display: block;
                                padding: 0;
                                margin: 0;
                                z-index: 997;
                                border: 1px solid $border-color;
                                @include e('list-items'){
                                    margin: 0;
                                    padding: 20px 0 20px 0;
                                    list-style-type: none;   
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;                                 
                                    @include e('item'){     
                                        width: 248px;
                                        height: 33px;
                                        .sub-category-name{
                                            padding: 0 20px;
                                            text-decoration: none;
                                            color: $color-grey;                                                                            
                                        }
                                        
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        @include e('right'){
           @include e('more-btn'){
               font-size: 0.5em;
               letter-spacing: 2px;
           }
        }
    }
}