@import "../../default.scss";

.footer-wrapper {
  background-color: $background-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: -1;
  @include e("first-floor") {
    padding: 2.5em 2em;
    @include e("logo") {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;
      @include e("a") {
        width: 8em;
        @include e("img") {
          width: 100%;
          height: auto;
        }
      }
    }

    @include e("contact") {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include e("item") {
        letter-spacing: 0.025em;
        font-size: 0.9em;
        margin: 0 2em 1.5em 0;
        text-decoration: none;
        color: $font-color;
        transition: 200ms;
        &:nth-last-child(1) {
          margin: 0 0 2em 0;
        }
        &:hover {
          color: $main-color;
        }
      }
    }

    @include e("social-group") {
      margin-bottom: 2em;
    }

    @include e("email-regis") {
      text-align: center;
      @include e("form") {
        @include e("input") {
          width: 20em;
          background: #fcfcfc;
          color: $font-color;
          font-family: $font-body;
          font-size: 0.85em;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
          border: 0;
          outline: 0;
          padding: 1.4em 6.5em 1.4em 1.2em;
        }

        @include e("btn") {
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 0.8em;
          display: inline-block;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          border: 0;
          outline: 0;
          border-radius: 2px;
          padding: 1em 2em;
          transition: all 200ms ease-in;
          cursor: pointer;

          @include m("primary") {
            background: $main-color;
            color: #fff;

            &:hover {
              background: darken($main-color, 4%);
            }

            &:active {
              background: $main-color;
              // box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
              box-shadow: 1px 1px 5px 0 $sub-main-color;
            }
          }

          @include m("inside") {
            margin-left: -5.5em;
          }
        }
      }
    }
  }

  @include e("divider") {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $table-border-color;
    margin: 0;
    padding: 0;
  }

  @include e("second-floor") {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 2em 3em;
    @include e("item") {
      .hoverDiv__link__content--hover {
        background-color: $light-border-color;
      }
      margin: 0 1.5em;
      &:nth-child(1) {
        margin-left: 0em;
      }
      &:nth-last-child(1) {
        margin-right: 0em;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  html {
    font-size: $font-size-375 !important;
  }

  .footer-wrapper {
    .footer-wrapper__first-floor {
      .footer-wrapper__first-floor__contact {
        flex-direction: column;
        .footer-wrapper__first-floor__contact__item {
          margin: 0 0 1.5em 0;
        }
      }
      .footer-wrapper__first-floor__email-regis {
        .footer-wrapper__first-floor__email-regis__form {
          .footer-wrapper__first-floor__email-regis__form__input {
            width: 51%;
          }
        }
      }
      .footer-wrapper__first-floor__social-group {
        .media-buttons__media-icons {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    .footer-wrapper__second-floor {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
      grid-row-gap: 1em;
      .footer-wrapper__second-floor__item {
        text-align: left;
        margin: 0;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: $font-size-600 !important;
  }

  .footer-wrapper {
    .footer-wrapper__first-floor {
      .footer-wrapper__first-floor__contact {
        flex-direction: column;
        .footer-wrapper__first-floor__contact__item {
          margin: 0 0 1.5em 0;
        }
      }
      .footer-wrapper__first-floor__email-regis {
        .footer-wrapper__first-floor__email-regis__form {
          .footer-wrapper__first-floor__email-regis__form__input {
            width: 72%;
          }
        }
      }
      .footer-wrapper__first-floor__social-group {
        .media-buttons__media-icons {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    .footer-wrapper__second-floor {
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      grid-column-gap: 1%;
      grid-row-gap: 1em;
      .footer-wrapper__second-floor__item {
        text-align: center;
        margin: 0;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: $font-size-768 !important;
  }

  .footer-wrapper {
    .footer-wrapper__first-floor {
      .footer-wrapper__first-floor__contact {
        flex-direction: column;
        .footer-wrapper__first-floor__contact__item {
          margin: 0 0 1.5em 0;
        }
      }
      .footer-wrapper__first-floor__email-regis {
        .footer-wrapper__first-floor__email-regis__form {
          .footer-wrapper__first-floor__email-regis__form__input {
            width: 18em;
          }
        }
      }
      .footer-wrapper__first-floor__social-group {
        .media-buttons__media-icons {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    .footer-wrapper__second-floor {
      display: flex;
      .footer-wrapper__second-floor__item {
        margin: 0 1.5em;
        &:nth-child(1) {
          margin-left: 0em;
        }
        &:nth-last-child(1) {
          margin-right: 0em;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: $font-size-992 !important;
  }

  .footer-wrapper {
    .footer-wrapper__first-floor {
      .footer-wrapper__first-floor__contact {
        flex-direction: row;
        .footer-wrapper__first-floor__contact__item {
          margin: 0 2em 1.5em 0;
        }
      }
      .footer-wrapper__first-floor__email-regis {
        .footer-wrapper__first-floor__email-regis__form {
          .footer-wrapper__first-floor__email-regis__form__input {
            width: 20em;
          }
        }
      }
      .footer-wrapper__first-floor__social-group {
        .media-buttons__media-icons {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    .footer-wrapper__second-floor {
      display: flex;
      .footer-wrapper__second-floor__item {
        margin: 0 1.5em;
        &:nth-child(1) {
          margin-left: 0em;
        }
        &:nth-last-child(1) {
          margin-right: 0em;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: $font-size-1200 !important;
  }

  .footer-wrapper {
    .footer-wrapper__first-floor {
      .footer-wrapper__first-floor__contact {
        flex-direction: row;
        .footer-wrapper__first-floor__contact__item {
          margin: 0 2em 1.5em 0;
        }
      }
      .footer-wrapper__first-floor__email-regis {
        .footer-wrapper__first-floor__email-regis__form {
          .footer-wrapper__first-floor__email-regis__form__input {
            width: 22em;
          }
        }
      }
      .footer-wrapper__first-floor__social-group {
        .media-buttons__media-icons {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    .footer-wrapper__second-floor {
      display: flex;
      .footer-wrapper__second-floor__item {
        margin: 0 1.5em;
        &:nth-child(1) {
          margin-left: 0em;
        }
        &:nth-last-child(1) {
          margin-right: 0em;
        }
      }
    }
  }
}
