@import "../../default.scss";

.footer-wrapper {
  font-family: $font-title;
  font-size: $font-size;
  background-color: $background-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: -1;

  @include e("first-floor") {
    padding: 2.5em 2em;

    @include e("logo") {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;
      @include e("a") {
        width: 8em;
        @include e("img") {
          width: 100%;
          height: auto;
        }
      }
    }

    @include e("contact") {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;

      @include e("item") {
        letter-spacing: 0.025em;
        font-size: 1em;
        margin: 0 2em;
        text-decoration: none;
        color: $font-color;
        transition: 200ms;

        &:hover {
          color: $main-color;
        }
      }
    }

    @include e("social-group") {
      margin-bottom: 2em;
    }

    @include e("email-regis") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;

      @include e("form") {
        @include e("input") {
          width: 20em;
          background: #fcfcfc;
          color: $font-color;
          font: inherit;
          font-size: 0.9em;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
          border: 0;
          outline: 0;
          padding: 1.4em 6.5em 1.4em 1.2em;
        }

        @include e("btn") {
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 0.9em;
          display: inline-block;
          //background: transparent;
          // color: inherit;
          // font: inherit;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          border: 0;
          outline: 0;
          // padding: 0;
          border-radius: 2px;
          padding: 1em 2em;
          transition: all 200ms ease-in;
          cursor: pointer;

          @include m("primary") {
            background: $main-color;
            color: #fff;

            &:hover {
              background: darken($main-color, 4%);
            }

            &:active {
              background: $main-color;
              // box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
              box-shadow: 1px 1px 5px 0 $sub-main-color;
            }
          }

          @include m("inside") {
            margin-left: -5.5em;
          }
        }
      }
    }
  }

  @include e("divider") {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $table-border-color;
    margin: 0;
    padding: 0;
  }

  @include e("second-floor") {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 0.875em;

    @include e("item") {
      .hoverDiv__link__content--hover {
        background-color: $light-border-color;
      }
      margin: 0 1em;
      z-index: 2;
    }
  }
}