@import "../../default.scss";

$font-size-table-content: 15px;
$hover-color: darken($sub-main-color, 10%);
$background-table-header-color: lighten($sub-main-color, 25%);

.time-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include e("tabs") {
    margin-bottom: 1.5em;
    padding: 2em 0em;
    font-size: $font-size;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      li {
        margin-right: 2em;
        font-size: 0.9em;
        &:nth-last-child(1) {
          margin-right: 0em;
        }
      }
    }
    @include e("active"){
      color: $main-color !important;
    }
  }
  @include e("list-events") {
    display: none;
    margin-bottom: 1em;
    color: $color-grey;
    @include e("event") {
      margin-bottom: 1em;
      @include e("date") {
        text-transform: capitalize;
        font-size: 0.95em;
        font-family: $font-family-special;
      }
      @include e("class-info") {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-border-color;
        padding: 0.8em 0;
        @include e("class-name") {
          font-size: 0.9em;
          text-decoration: none;
          transition: all 200ms ease;
          color: $color-grey;
          &:hover {
            color: $main-color;
          }
        }
        @include e("class-time") {
          font-size: 0.8em;
          color: $font-color;
        }
      }
    }
  }
  @include e("table-events") {
    display: block;
    position: relative;
    @include e("background") {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0.8em;
      top: -0.8em;
      border: 1px solid $table-border-color;
      z-index: -1;
    }
    table,
    th,
    td {
      border: 1px solid $table-border-color;
      border-collapse: collapse;
      text-align: center;
    }
    table {
      font-size: $font-size-table-content;
      width: 100%;
      letter-spacing: normal;
      line-height: normal;
      background: #fff;
      vertical-align: middle;
      table-layout: fixed;
      thead {
        th {
          color: $font-color;
          font-weight: 600;
          padding: 1em 0.5em;
          background-color: $background-table-header-color;
        }
      }
      tbody {
        td {
          .time-table__table-events__class-time {
            color: $font-color;
          }
          .time-table__table-events__class-info {
            display: flex;
            flex-direction: column;
            padding: 1em 1em;
            position: relative;
            @include e("class-name") {
              color: $color-grey;
              text-decoration: none;
              font-weight: 500;
              margin-bottom: 1em;
            }
            @include e("class-teacher") {
              color: $font-color;
            }
          }
          .time-table__table-events__my-tooltip {
            @include e("content") {
              max-width: fit-content;
              top: 0;
              left: 50%;
              transform: translate(-50%, -100%);
              padding: 10px 20px;
              color: #fff;
              background-color: $hover-color;
              font-weight: normal;
              border-radius: 3px;
              position: absolute;
              z-index: 99999999;
              box-sizing: border-box;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
              visibility: hidden;
              opacity: 0;
              transition: opacity 0.3s;
              i {
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -12px;
                width: 16px;
                height: 8px;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(45deg);
                  background-color: $hover-color;
                  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
                }
              }
            }
            &:hover .time-table__table-events__my-tooltip__content {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
