@import "../../../default.scss";

.media-buttons {
  text-align: center;

  @include e("media-icons") {
    display: inline-block;
    width: 50px;
    background: #fcfcfc;
    margin: 10px 20px 10px 0;
    border-radius: 30%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    color: $main-color;
    overflow: hidden;
    position: relative;

    @include m("hover") {
      line-height: 50px;
      font-size: 1.4em;
      transition: 0.3s linear;
    }

    &:hover>&--hover {
      transform: scale(1.2);
      color: $background-color;
    }

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      background: $main-color;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }

    &:hover::before {
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }

    @keyframes aaa {
      0% {
        left: -110%;
        top: 90%;
      }

      50% {
        left: 10%;
        top: -30%;
      }

      100% {
        left: -10%;
        top: -10%;
      }
    }
  }
}