@import '../../default.scss';

.containter{
    width: 90%;
    margin: auto auto;
}
#saved-books{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

#saved-books .books{
    display: flex;
    justify-content: center;
}

.slide-btns-saved-items{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slide-btns-saved-items  a .active{
    background-color: $main-color ;
}
.slide-btns-saved-items a div{
    width: 100px;
    height: 8px;
    border-radius: 10px;
    border: 2px solid $main-color;
    margin: auto 20px;
}
.slide-btns-saved-items a div:hover{
    background-color: $main-color;
}


//PERSON
#saved-followed-person{
    margin-bottom: 50px;
}
#saved-followed-person #person{
    display: flex;
    justify-content: center;
}

//POST
#saved-post{
    margin-bottom: 50px;
}