@import "../../default.scss";

.newCourseInfo {
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
  background-color: #fff;
  // border-radius: 5px;

  .newCourseInfo__title-text {
    color: $color-grey;
    // font-family: $font-family-special;
    font-size: 1em;
    span {
      color: #ee827c;
      font-style: italic;
      font-size: 0.8em;
    }
  }

  .newCourseInfo__input-box {
    // background: none;
    // border-radius: 0;
    // border: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // height: 2.5em;
    // font-size: 1em;
    // font-family: $font-family-special;
    background: #fff;
    color: $font-color;
    font-family: $font-body;
    font-size: 1em;
    border: 1px solid $table-border-color;
    border-radius: 5px;
    outline: none;
    padding: 0.5em 5%;
    width: 90%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 0.9em;
    }
    &:focus {
      outline: none;
      border: 1px solid $main-color;
    }
  }

  .newCourseInfo__text-area {
    textarea {
      width: 90%;
      resize: vertical;
      border: none;
      outline: none;
      font-size: 1em;
      font-family: $font-body;
      color: $font-color;
      border: 1px solid $table-border-color;
      border-radius: 5px;
      padding: 1em 5%;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.9em;
      }
      &:focus {
        outline: none;
        border: 1px solid $main-color;
      }
    }
  }

  .divider {
    height: 1px;
    background-color: $table-border-color;
    border: none;
    margin: 0px;
  }

  @include e("title") {
    font-size: 1.1em;
    color: $main-color; //rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 1.75em;
    letter-spacing: 0.05em;
    padding: 1em 0;
    font-family: $font-family-special;
  }

  @include e("form") {
    padding-left: 0;
    margin: 0 0 0 2em;
    padding-bottom: 1em;

    @include e("info") {
      position: relative;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1.2em 3em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2em;
      row-gap: 1em;
      @include e("item") {
        .newCourseInfo__title-text {
          width: 100%;
          margin-bottom: 1em;
        }
        @include e("error-message") {
          width: 100%;
          font-size: 0.8em;
          color: red;
        }
        @include e("input-remove") {
          margin-bottom: 0.5em;
          position: relative;
          .newCourseInfo__input-box:hover + i {
            opacity: 1;
            color: $sub-main-color;
          }
          i {
            position: absolute;
            right: 0.5em;
            top: 50%;
            opacity: 0;
            cursor: pointer;
            transform: translateY(-50%);
            transition: all 200ms ease;
            &:hover {
              opacity: 1;
              color: $main-color;
            }
          }
        }
        @include e("add-btn") {
          margin-top: 1em;
          text-align: center;
          button {
            padding: 0.75em 0.85em;
            margin: auto;
            border: none;
            border-radius: 50%;
            outline: none;
            transition: 200ms ease;
            color: $main-color;
            background-color: lighten($sub-main-color, 25%);
            box-shadow: 1px 1px 5px #ebebeb;
            cursor: pointer;
            i {
              font-size: 1.6em;
            }
            &:hover {
              background-color: $main-color;
              color: #fff;
            }
          }
        }
        @include m("single") {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
      @include e("icon") {
        position: absolute;
        left: 0em;
        top: 1.5em;
        transform: translateX(-50%);
        width: 2.3em;
        height: 2.3em;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lighten($sub-main-color, 25%);
        box-shadow: 1px 1px 10px #ebebeb;
        i {
          color: $main-color;
          font-size: 0.9em;
        }
      }
      & > .newCourseInfo__title-text {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      @include e("add-photo") {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 1em 0;
      }
    }

    // @include e("button") {
    //   display: flex;
    //   justify-content: center;
    //   padding: 2em 0em 1em;
    //   button {
    //     font-size: 1em;
    //     padding: 0.6em 1.8em;
    //     text-align: center;
    //     border: none;
    //     border-radius: 5px;
    //     outline: none;
    //     font-family: $font-body;
    //     transition: 200ms ease;
    //     color: $main-color;
    //     background-color: lighten($sub-main-color, 25%);
    //     box-shadow: 1px 1px 5px #ebebeb;
    //     text-transform: uppercase;
    //     cursor: pointer;
    //     i {
    //       font-size: 0.9em;
    //       margin-left: 0.3em;
    //     }
    //     &:hover {
    //       background-color: $main-color;
    //       color: #fff;
    //     }
    //   }
    // }
  }
}
