@import "../../default.scss";
$hover-color: lighten($sub-main-color, 27%);

.course {
  background-color: #fff;
  .divider-grey {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0px;
  }
  .divider {
    height: 1px;
    background-color: $table-border-color;
    border: none;
    margin: 0px;
  }
  @include e("body") {
    @include e("ringing-phone") {
      position: fixed;
      right: 2em;
      bottom: 2em;
      z-index: 2;
    }
    @include e("breadcrumb") {
      font-family: $font-family-special;
      background-color: $background-color;
      padding: 3em 10%;
      a {
        font-size: 0.9em;
        color: $color-grey; //#363738;
        text-decoration: none;
        text-transform: capitalize;
        transition: all 200ms ease;
        &:hover {
          color: $main-color;
        }
      }
      i {
        font-size: 0.7em;
        color: $main-color;
      }
    }
    @include e("wrapper") {
      display: flex;
      flex-direction: row;
      width: 85%;
      margin: auto;
      padding: 4em 0;

      @include e("main-content") {
        display: flex;
        flex-direction: column;
        width: 75%;
        @include e("image") {
          width: 100%;
          margin-bottom: 1.5em;
          position: relative;
          @include e("dateCreated") {
            position: absolute;
            top: 0;
            left: 3%;
            text-align: center;
            span {
              color: $main-color;
              display: block;
              font-family: $font-family-special;
              font-weight: 500;
              text-align: center;
              background-color: #fff;
            }
            @include e("day") {
              font-size: 1.2em;
              line-height: 3em;
            }
            @include e("month") {
              padding: 0 1em;
              font-size: 0.9em;
              line-height: 2em;
              margin-top: 0.1em;
              text-transform: capitalize;
            }
          }
          img {
            width: 100%;
            height: auto;
          }
        }

        @include e("author") {
          text-transform: uppercase;
          margin-top: 2em;
          color: $sub-main-color;
          font-size: 0.875em;

          font-family: $font-family-special;
        }

        @include e("title") {
          font-family: $font-family-special;
          font-size: 1.8em;
        }

        @include e("content") {
          margin: 1.5em 0 1.8em;
          color: $font-color;
          font-size: 0.85em;
          line-height: 1.7em;
        }

        @include e("benefits") {
          margin: 1.5em 0em 1.5em 1em;
          @include e("title") {
            margin-bottom: 2em;
            font-size: 1.5em;
            font-family: $font-family-special;
            position: relative;
            display: inline-block;
            padding: 0 0.5em;
            z-index: 0;
            color: $main-color;
            @include m("hover") {
              position: absolute;
              left: 0;
              bottom: -0.5em;
              height: 1em;
              width: 100%;
              background-color: $hover-color;
              z-index: -1;
            }
          }
          .course-list-benefits {
          }
          // color: rgba(0, 0, 0, 0.6);
          // font-size: 1em;
          // display: flex;
          // flex-wrap: wrap;
          // margin-top: 20px;

          // @include e('target') {
          //     width: 33%;
          //     margin: 10px 0;
          //     text-transform: capitalize;

          //     .fas {
          //         &:hover {
          //             color: $sub-main-color;
          //         }

          //         color: $main-color;
          //         margin-right: 4px;
          //     }
          // }
        }

        @include e("classes") {
          margin: 1.5em 0em 1.5em 1em;
          @include e("title") {
            margin-bottom: 1em;
            font-size: 1.5em;
            font-family: $font-family-special;
            position: relative;
            display: inline-block;
            padding: 0 0.5em;
            z-index: 0;
            color: $main-color;
            @include m("hover") {
              position: absolute;
              left: 0;
              bottom: -0.5em;
              height: 1em;
              width: 100%;
              background-color: $hover-color;
              z-index: -1;
            }
          }
          @include e("class") {
            color: $color-grey;
            padding: 1em 0;
            @include e("class-name") {
              margin-bottom: 1em;
              font-size: 1.3em;
              font-family: $font-family-special;
              &::first-letter {
                text-transform: capitalize;
              }
            }

            @include e("class-trainer") {
              margin-bottom: 2em;
              .class-trainer {
                @include e("info") {
                  @include e("name") {
                    font-size: 1.3em;
                  }
                  @include e("description") {
                    font-size: 0.85em;
                  }
                }
              }
            }

            @include e("class-time") {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              column-gap: 2em;
              row-gap: 2em;
              //   display: flex;
              //   flex-wrap: wrap;
              @include e("time-item") {
                // &:hover {
                //   border-color: #fff;
                //   box-shadow: 1px 1px 10px 0 $sub-main-color;
                // }
                // border: 1px solid $sub-main-color;
                // width: 15em;
                // margin-right: 20px;
                // margin-bottom: 20px;
                // display: flex;
                // flex-direction: row;
                // justify-content: center;
                // align-items: center;
                // padding: 1.5em;
                // font-family: $font-family-special;
                // h4 {
                //   color: #363738;

                //   margin: 0 0 9px 0;
                // }
                // p {
                //   margin: 10px;
                //   color: rgba(0, 0, 0, 0.6);
                // }
              }
            }
          }
        }
      }

      @include e("sub-content") {
        margin-left: 3%;
        width: 22%;
        @include e("social-group") {
          margin: 1em 0 2em 0;
          .media-buttons {
            @include e("media-icons") {
              background-color: $hover-color;
              @include m("hover") {
                font-size: 1.2em;
              }
            }
          }
        }
        @include e("title") {
          font-family: $font-family-special;
          font-size: 1.2em;
          font-color: $color-grey;
          margin-bottom: 1em;
          &::first-letter {
            text-transform: capitalize;
          }
        }
        @include e("other-courses") {
          margin-bottom: 2em;
          @include e("course") {
            text-transform: uppercase;
            margin-bottom: 1em;
            @include e("link") {
              text-decoration: none;
              font-size: 0.7em;
              .hoverDiv {
                @include e("link") {
                  cursor: pointer;
                  color: $main-color;
                  letter-spacing: 0.05em;
                }
              }
            }
          }
        }
        @include e("latest-posts") {
          margin-bottom: 2em;
          @include e("post") {
            margin-bottom: 1em;
          }
        }
        @include e("email") {
          margin: 3em 0 2em;
          @include e("content") {
            font-size: 0.85em;
            color: $font-color;
            margin-bottom: 1.5em;
          }
          .search-box form {
          }
        }
      }
    }
    @include e("contact-us") {
      width: 80%;
      margin: 0 auto 0;
      padding: 3em 0 7em;
    }
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 18px !important;
  }

  .course {
    @include e("body") {
      @include e("ringing-phone") {
        right: 1em;
        bottom: 1em;
        .ringing-phone {
          @include e("link") {
            padding: 0.8em;
          }
        }
      }
      @include e("breadcrumb") {
      }
      @include e("wrapper") {
        flex-direction: column;
        width: 80%;
        padding: 2em 0;

        @include e("main-content") {
          display: flex;
          flex-direction: column;
          width: 100%;
          @include e("image") {
            @include e("dateCreated") {
              @include e("day") {
                font-size: 1em;
                line-height: 2em;
              }
              @include e("month") {
                font-size: 0.7em;
                line-height: 2em;
              }
            }
          }

          @include e("title") {
            font-size: 1.5em;
          }

          @include e("content") {
            font-size: 0.9em;
          }

          @include e("benefits") {
            @include e("title") {
              font-size: 1.2em;
            }
            .course-list-benefits {
            }
          }

          @include e("classes") {
            @include e("title") {
              font-size: 1.2em;
            }
            @include e("class") {
              @include e("class-name") {
                font-size: 1em;
              }

              @include e("class-trainer") {
                .class-trainer {
                  flex-direction: column;
                  @include e("img") {
                    width: 100%;
                  }
                  @include e("info") {
                    width: 100%;
                    padding: 1em 0 0;
                    @include e("name") {
                      font-size: 1.1em;
                    }
                    @include e("description") {
                      font-size: 0.9em;
                    }
                  }
                }
              }

              @include e("class-time") {
                grid-template-columns: repeat(1, 1fr);
                column-gap: 0em;
                row-gap: 2em;
                @include e("time-item") {
                }
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("social-group") {
            margin: 3em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }
          }
          @include e("title") {
            font-size: 1em;
            margin-bottom: 1.5em;
          }
          @include e("other-courses") {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("course") {
              @include e("link") {
                font-size: 0.8em;
              }
            }
          }
          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 5em;
                  height: 5em;
                }
                @include e("info") {
                  width: 65%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
          @include e("email") {
            @include e("content") {
              font-size: 0.9em;
            }
            .search-box form {
              input {
                width: 75%;
                font-size: 0.9em;
              }
            }
          }
        }
      }
      @include e("contact-us") {
        width: 80%;
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
            margin: 0;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 19px !important;
  }

  .course {
    @include e("body") {
      @include e("ringing-phone") {
        right: 1em;
        bottom: 1em;
        .ringing-phone {
          @include e("link") {
            padding: 0.8em;
          }
        }
      }
      @include e("breadcrumb") {
      }
      @include e("wrapper") {
        flex-direction: column;
        width: 80%;
        padding: 4em 0;

        @include e("main-content") {
          display: flex;
          flex-direction: column;
          width: 100%;
          @include e("image") {
            @include e("dateCreated") {
              @include e("day") {
                font-size: 1.2em;
                line-height: 3em;
              }
              @include e("month") {
                font-size: 0.9em;
                line-height: 2em;
              }
            }
          }

          @include e("title") {
            font-size: 1.8em;
          }

          @include e("content") {
            font-size: 0.85em;
          }

          @include e("benefits") {
            @include e("title") {
              font-size: 1.5em;
            }
            .course-list-benefits {
            }
          }

          @include e("classes") {
            @include e("title") {
              font-size: 1.5em;
            }
            @include e("class") {
              @include e("class-name") {
                font-size: 1.3em;
              }

              @include e("class-trainer") {
                .class-trainer {
                  flex-direction: column;
                  @include e("img") {
                    width: 100%;
                  }
                  @include e("info") {
                    width: 100%;
                    padding: 1em 0 0;
                    @include e("name") {
                      font-size: 1.3em;
                    }
                    @include e("description") {
                      font-size: 0.9em;
                    }
                  }
                }
              }

              @include e("class-time") {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2em;
                row-gap: 2em;
                @include e("time-item") {
                }
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("social-group") {
            margin: 3em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }
          }
          @include e("title") {
            font-size: 1.3em;
            margin-bottom: 1.5em;
          }
          @include e("other-courses") {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2em;
            row-gap: 1em;
            @include e("course") {
              @include e("link") {
                font-size: 0.8em;
              }
            }
          }
          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 6em;
                  height: 6em;
                }
                @include e("info") {
                  width: 73%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
          @include e("email") {
            @include e("content") {
              font-size: 0.9em;
            }
            .search-box form {
              input {
                width: 85%;
                font-size: 0.9em;
              }
            }
          }
        }
      }
      @include e("contact-us") {
        width: 80%;
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
            margin: 0;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 1.8em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 19px !important;
  }

  .course {
    @include e("body") {
      @include e("breadcrumb") {
      }
      @include e("wrapper") {
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding: 4em 0;

        @include e("main-content") {
          display: flex;
          flex-direction: column;
          width: 100%;
          @include e("image") {
            width: 100%;
            margin-bottom: 1.5em;
            position: relative;
            @include e("dateCreated") {
              position: absolute;
              top: 0;
              left: 3%;
              text-align: center;
              span {
                color: $main-color;
                display: block;
                font-family: $font-family-special;
                font-weight: 500;
                text-align: center;
                background-color: #fff;
              }
              @include e("day") {
                font-size: 1.2em;
                line-height: 3em;
              }
              @include e("month") {
                padding: 0 1em;
                font-size: 0.9em;
                line-height: 2em;
                margin-top: 0.1em;
                text-transform: capitalize;
              }
            }
            img {
              width: 100%;
              height: auto;
            }
          }

          @include e("title") {
            font-family: $font-family-special;
            font-size: 1.8em;
          }

          @include e("content") {
            margin: 1.5em 0 1.8em;
            color: $font-color;
            font-size: 0.85em;
            line-height: 1.7em;
          }

          @include e("benefits") {
            margin: 1.5em 0em 1.5em 1em;
            @include e("title") {
              margin-bottom: 2em;
              font-size: 1.5em;
              font-family: $font-family-special;
              position: relative;
              display: inline-block;
              padding: 0 0.5em;
              z-index: 0;
              color: $main-color;
              @include m("hover") {
                position: absolute;
                left: 0;
                bottom: -0.5em;
                height: 1em;
                width: 100%;
                background-color: $hover-color;
                z-index: -1;
              }
            }
            .course-list-benefits {
            }
          }

          @include e("classes") {
            margin: 1.5em 0em 1.5em 1em;
            @include e("title") {
              margin-bottom: 1em;
              font-size: 1.5em;
              font-family: $font-family-special;
              position: relative;
              display: inline-block;
              padding: 0 0.5em;
              z-index: 0;
              color: $main-color;
              @include m("hover") {
                position: absolute;
                left: 0;
                bottom: -0.5em;
                height: 1em;
                width: 100%;
                background-color: $hover-color;
                z-index: -1;
              }
            }
            @include e("class") {
              color: $color-grey;
              padding: 1em 0;
              @include e("class-name") {
                margin-bottom: 1em;
                font-size: 1.3em;
                font-family: $font-family-special;
                &::first-letter {
                  text-transform: capitalize;
                }
              }

              @include e("class-trainer") {
                margin-bottom: 2em;
                .class-trainer {
                  flex-direction: row;
                  @include e("img") {
                    width: 40%;
                  }
                  @include e("info") {
                    width: 57%;
                    padding: 0 0 0 3%;
                    @include e("name") {
                      font-size: 1.3em;
                    }
                    @include e("description") {
                      font-size: 0.85em;
                    }
                  }
                }
              }

              @include e("class-time") {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2em;
                row-gap: 2em;
                @include e("time-item") {
                }
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("social-group") {
            margin: 3em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
                background-color: $hover-color;
                @include m("hover") {
                  font-size: 1.2em;
                }
              }
            }
          }
          @include e("title") {
            font-family: $font-family-special;
            font-size: 1.3em;
            font-color: $color-grey;
            margin-bottom: 1.5em;
            &::first-letter {
              text-transform: capitalize;
            }
          }
          @include e("other-courses") {
            margin-bottom: 2em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2em;
            row-gap: 1em;
            @include e("course") {
              text-transform: uppercase;
              @include e("link") {
                text-decoration: none;
                font-size: 0.8em;
                .hoverDiv {
                  @include e("link") {
                    cursor: pointer;
                    color: $main-color;
                    letter-spacing: 0.05em;
                  }
                }
              }
            }
          }
          @include e("latest-posts") {
            margin-bottom: 2em;
            @include e("post") {
              margin-bottom: 1em;
              .latestPost {
                @include e("image") {
                  width: 6em;
                  height: 6em;
                }
                @include e("info") {
                  width: 78%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
          @include e("email") {
            margin: 3em 0 2em;
            @include e("content") {
              font-size: 0.9em;
              color: $font-color;
              margin-bottom: 1.5em;
            }
            .search-box form {
              width: 100%;
              input {
                width: 85%;
                font-size: 0.9em;
              }
            }
          }
        }
      }
      @include e("contact-us") {
        width: 80%;
        margin: 0 auto 0;
        padding: 3em 0 7em;
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
            margin: 0;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 20px !important;
  }

  .course {
    @include e("body") {
      @include e("breadcrumb") {
      }
      @include e("wrapper") {
        display: flex;
        flex-direction: row;
        width: 85%;
        margin: auto;
        padding: 4em 0;

        @include e("main-content") {
          display: flex;
          flex-direction: column;
          width: 75%;
          @include e("image") {
            width: 100%;
            margin-bottom: 1.5em;
            position: relative;
            @include e("dateCreated") {
              position: absolute;
              top: 0;
              left: 3%;
              text-align: center;
              span {
                color: $main-color;
                display: block;
                font-family: $font-family-special;
                font-weight: 500;
                text-align: center;
                background-color: #fff;
              }
              @include e("day") {
                font-size: 1.2em;
                line-height: 3em;
              }
              @include e("month") {
                padding: 0 1em;
                font-size: 0.9em;
                line-height: 2em;
                margin-top: 0.1em;
                text-transform: capitalize;
              }
            }
            img {
              width: 100%;
              height: auto;
            }
          }

          @include e("title") {
            font-family: $font-family-special;
            font-size: 1.8em;
          }

          @include e("content") {
            margin: 1.5em 0 1.8em;
            color: $font-color;
            font-size: 0.85em;
            line-height: 1.7em;
          }

          @include e("benefits") {
            margin: 1.5em 0em 1.5em 1em;
            @include e("title") {
              margin-bottom: 2em;
              font-size: 1.5em;
              font-family: $font-family-special;
              position: relative;
              display: inline-block;
              padding: 0 0.5em;
              z-index: 0;
              color: $main-color;
              @include m("hover") {
                position: absolute;
                left: 0;
                bottom: -0.5em;
                height: 1em;
                width: 100%;
                background-color: $hover-color;
                z-index: -1;
              }
            }
            .course-list-benefits {
            }
          }

          @include e("classes") {
            margin: 1.5em 0em 1.5em 1em;
            @include e("title") {
              margin-bottom: 1em;
              font-size: 1.5em;
              font-family: $font-family-special;
              position: relative;
              display: inline-block;
              padding: 0 0.5em;
              z-index: 0;
              color: $main-color;
              @include m("hover") {
                position: absolute;
                left: 0;
                bottom: -0.5em;
                height: 1em;
                width: 100%;
                background-color: $hover-color;
                z-index: -1;
              }
            }
            @include e("class") {
              color: $color-grey;
              padding: 1em 0;
              @include e("class-name") {
                margin-bottom: 1em;
                font-size: 1.3em;
                font-family: $font-family-special;
                &::first-letter {
                  text-transform: capitalize;
                }
              }

              @include e("class-trainer") {
                margin-bottom: 2em;
                .class-trainer {
                  @include e("info") {
                    @include e("name") {
                      font-size: 1.3em;
                    }
                    @include e("description") {
                      font-size: 0.85em;
                    }
                  }
                }
              }

              @include e("class-time") {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2em;
                row-gap: 2em;
                @include e("time-item") {
                }
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 3%;
          width: 22%;
          border-top: none;
          @include e("social-group") {
            margin: 1em 0 2em 0;
            .media-buttons {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: 0em;
              row-gap: 1em;
              @include e("media-icons") {
                margin: auto;
                background-color: $hover-color;
                &:nth-last-child(1) {
                  margin: auto;
                }
                @include m("hover") {
                  font-size: 1.2em;
                }
              }
            }
          }
          @include e("title") {
            font-family: $font-family-special;
            font-size: 1.2em;
            font-color: $color-grey;
            margin-bottom: 1em;
            &::first-letter {
              text-transform: capitalize;
            }
          }
          @include e("other-courses") {
            margin-bottom: 2em;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("course") {
              text-transform: uppercase;
              @include e("link") {
                text-decoration: none;
                font-size: 0.7em;
                .hoverDiv {
                  @include e("link") {
                    cursor: pointer;
                    color: $main-color;
                    letter-spacing: 0.05em;
                  }
                }
              }
            }
          }
          @include e("latest-posts") {
            margin-bottom: 2em;
            @include e("post") {
              margin-bottom: 1em;
              .latestPost {
                @include e("image") {
                  width: 5em;
                  height: 5em;
                }
                @include e("info") {
                  width: 43%;
                  @include e("title") {
                    font-size: 0.8em;
                  }
                  @include e("date") {
                    font-size: 0.75em;
                  }
                }
              }
            }
          }
          @include e("email") {
            margin: 3em 0 2em;
            @include e("content") {
              font-size: 0.85em;
              color: $font-color;
              margin-bottom: 1.5em;
            }
            .search-box form {
              width: 100%;
              input {
                width: 60%;
                font-size: 0.8em;
              }
            }
          }
        }
      }
      @include e("contact-us") {
        width: 80%;
        margin: 0 auto 0;
        padding: 3em 0 7em;
        .contact-us {
          flex-direction: row;
          @include e("form") {
            width: 50%;
            margin: 0;
          }
          @include e("sub-info") {
            width: 45%;
            margin-left: 5%;
            @include e("title") {
              font-size: 2.3em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px !important;
  }

  @include e("body") {
    @include e("breadcrumb") {
    }
    @include e("wrapper") {
      display: flex;
      flex-direction: row;
      width: 85%;
      margin: auto;
      padding: 4em 0;

      @include e("main-content") {
        display: flex;
        flex-direction: column;
        width: 75%;
        @include e("image") {
          width: 100%;
          margin-bottom: 1.5em;
          position: relative;
          @include e("dateCreated") {
            position: absolute;
            top: 0;
            left: 3%;
            text-align: center;
            span {
              color: $main-color;
              display: block;
              font-family: $font-family-special;
              font-weight: 500;
              text-align: center;
              background-color: #fff;
            }
            @include e("day") {
              font-size: 1.2em;
              line-height: 3em;
            }
            @include e("month") {
              padding: 0 1em;
              font-size: 0.9em;
              line-height: 2em;
              margin-top: 0.1em;
              text-transform: capitalize;
            }
          }
          img {
            width: 100%;
            height: auto;
          }
        }

        @include e("title") {
          font-family: $font-family-special;
          font-size: 1.8em;
        }

        @include e("content") {
          margin: 1.5em 0 1.8em;
          color: $font-color;
          font-size: 0.85em;
          line-height: 1.7em;
        }

        @include e("benefits") {
          margin: 1.5em 0em 1.5em 1em;
          @include e("title") {
            margin-bottom: 2em;
            font-size: 1.5em;
            font-family: $font-family-special;
            position: relative;
            display: inline-block;
            padding: 0 0.5em;
            z-index: 0;
            color: $main-color;
            @include m("hover") {
              position: absolute;
              left: 0;
              bottom: -0.5em;
              height: 1em;
              width: 100%;
              background-color: $hover-color;
              z-index: -1;
            }
          }
          .course-list-benefits {
          }
        }

        @include e("classes") {
          margin: 1.5em 0em 1.5em 1em;
          @include e("title") {
            margin-bottom: 1em;
            font-size: 1.5em;
            font-family: $font-family-special;
            position: relative;
            display: inline-block;
            padding: 0 0.5em;
            z-index: 0;
            color: $main-color;
            @include m("hover") {
              position: absolute;
              left: 0;
              bottom: -0.5em;
              height: 1em;
              width: 100%;
              background-color: $hover-color;
              z-index: -1;
            }
          }
          @include e("class") {
            color: $color-grey;
            padding: 1em 0;
            @include e("class-name") {
              margin-bottom: 1em;
              font-size: 1.3em;
              font-family: $font-family-special;
              &::first-letter {
                text-transform: capitalize;
              }
            }

            @include e("class-trainer") {
              margin-bottom: 2em;
              .class-trainer {
                @include e("info") {
                  @include e("name") {
                    font-size: 1.3em;
                  }
                  @include e("description") {
                    font-size: 0.85em;
                  }
                }
              }
            }

            @include e("class-time") {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              column-gap: 2em;
              row-gap: 2em;
              @include e("time-item") {
              }
            }
          }
        }
      }

      @include e("sub-content") {
        margin-left: 3%;
        width: 22%;
        @include e("social-group") {
          margin: 1em 0 2em 0;
          .media-buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("media-icons") {
              margin: auto;
              background-color: $hover-color;
              &:nth-last-child(1) {
                margin: auto;
              }
              @include m("hover") {
                font-size: 1.2em;
              }
            }
          }
        }
        @include e("title") {
          font-family: $font-family-special;
          font-size: 1.2em;
          font-color: $color-grey;
          margin-bottom: 1em;
          &::first-letter {
            text-transform: capitalize;
          }
        }
        @include e("other-courses") {
          margin-bottom: 2em;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          column-gap: 0em;
          row-gap: 1em;
          @include e("course") {
            text-transform: uppercase;
            @include e("link") {
              text-decoration: none;
              font-size: 0.7em;
              .hoverDiv {
                @include e("link") {
                  cursor: pointer;
                  color: $main-color;
                  letter-spacing: 0.05em;
                }
              }
            }
          }
        }
        @include e("latest-posts") {
          margin-bottom: 2em;
          @include e("post") {
            margin-bottom: 1em;
            .latestPost {
              @include e("info") {
                width: 45%;
              }
            }
          }
        }
        @include e("email") {
          margin: 3em 0 2em;
          @include e("content") {
            font-size: 0.85em;
            color: $font-color;
            margin-bottom: 1.5em;
          }
          .search-box form {
            width: 100%;
            input {
              width: 65%;
            }
          }
        }
      }
    }
    @include e("contact-us") {
      width: 80%;
      margin: 0 auto 0;
      padding: 3em 0 7em;
    }
  }
}
