@import "../../default.scss";

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

$hover-color: lighten($sub-main-color, 27%);

.blog {
  background-color: #fff;
  @include e("body") {
    @include e("breadcrumb") {
      font-family: $font-family-special;
      background-color: $background-color;
      padding: 3em 10%;
      a {
        font-size: 0.9em;
        color: $color-grey; //#363738;
        text-decoration: none;
        text-transform: capitalize;
        transition: all 200ms ease;
        &:hover {
          color: $main-color;
        }
      }
      i {
        font-size: 0.7em;
        color: $main-color;
      }
    }
    // @include e("path") {
    //   color: #363738;
    //   font-family: $font-family-special;
    //   background-color: $background-color;
    //   padding: 3em 0 3em 6.5em;

    //   a {
    //     color: #363738;
    //     text-transform: capitalize;
    //     text-decoration: none;
    //     cursor: pointer;

    //     &:hover {
    //       color: $main-color;
    //     }
    //   }

    //   @include for-phone-only {
    //     padding: 0.5em 0 0.5em 2.5em;

    //     a {
    //       font-size: 0.8em;
    //     }
    //   }

    //   @include for-tablet-portrait-only {
    //     padding: 1em 0 1em 6.5em;
    //   }

    //   @include for-tablet-landscape-only {
    //     padding: 1.5em 0 1.5em 6.5em;
    //   }

    //   @include for-big-desktop-up {
    //     padding-left: 13em;
    //   }
    // }

    @include e("wrapper") {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      padding: 4em 0;

      @include e("main-content") {
        display: flex;
        flex-direction: column;
        width: 70%;
        @include e("search") {
          margin: 2em 0 2em;
          .search-box form {
            width: 100%;
            input {
              width: 65%;
              font-size: 0.8em;
            }
          }
        }

        .news2 {
          padding: 2em 0;
          @include e("inner") {
            @include e("info") {
              font-size: 0.65em;
            }

            @include e("title") {
              a {
                font-size: 1.4em;
              }
            }
            @include e("image") {
              @include e("dateCreated") {
                @include e("day") {
                  font-size: 1.2em;
                }
                @include e("month") {
                  font-size: 0.9em;
                }
              }
            }
            @include e("content") {
              font-size: 0.9em;
            }
          }
        }

        // @include for-phone-only {
        //   width: auto;
        //   margin-left: 0;
        //   margin-right: 0;

        //   .news2__inner {
        //     padding-bottom: 0;
        //     padding-top: 0;

        //     @include e("title") {
        //       padding: 0 0;
        //     }

        //     @include e("content") {
        //       font-size: 1em;
        //     }

        //     @include e("more") {
        //       padding-top: 0em;
        //       padding-bottom: 1em;
        //     }
        //   }
        // }

        // @include for-tablet-portrait-only {
        //   width: auto;
        //   margin-left: 3.5em;
        //   margin-right: 3.5em;
        // }

        // @include for-tablet-landscape-only {
        //   margin-left: 2em;
        //   margin-right: 1em;
        //   width: 60%;
        // }

        // @include for-big-desktop-up {
        //   margin-right: 5.5em;
        // }
      }

      @include e("sub-content") {
        margin-left: 3%;
        width: 27%;
        @include e("title") {
          font-family: $font-family-special;
          font-size: 1.2em;
          font-color: $color-grey;
          margin-bottom: 1em;
          &::first-letter {
            text-transform: capitalize;
          }
        }

        @include e("search") {
          margin: 3em 0 2em;
          .search-box form {
            width: 100%;
            input {
              width: 65%;
              font-size: 0.8em;
            }
          }
        }

        @include e("social-group") {
          margin: 1em 0 2em 0;
          .media-buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("media-icons") {
              margin: auto;
              background-color: $hover-color;
              &:nth-last-child(1) {
                margin-right: auto;
              }
              @include m("hover") {
                font-size: 1.2em;
              }
            }
          }
        }

        // @include e("latest-posts") {
        //   @include e("post") {
        //     width: 75%;

        //     @include for-phone-only {
        //       width: 20em;
        //     }

        //     @include for-tablet-portrait-only {
        //       width: 20em;
        //     }

        //     @include for-tablet-landscape-only {
        //       width: 17em;
        //     }
        //   }
        // }

        @include e("categories") {
          margin-bottom: 2em;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          column-gap: 0em;
          row-gap: 1em;
          @include e("category") {
            text-transform: uppercase;
            @include e("link") {
              text-decoration: none;
              font-size: 0.7em;
              .hoverDiv {
                @include e("link") {
                  color: $main-color;
                  letter-spacing: 0.05em;
                }
              }
            }
          }
        }

        @include e("latest-posts") {
          margin-bottom: 2em;
          @include e("post") {
            margin-bottom: 1em;
            .latestPost {
              @include e("info") {
                width: 45%;
              }
            }
          }
        }

        @include e("email") {
          margin: 3em 0 2em;
          @include e("content") {
            font-size: 0.85em;
            color: $font-color;
            margin-bottom: 1.5em;
          }
          .search-box form {
            width: 100%;
            input {
              width: 65%;
              font-size: 0.8em;
            }
          }
        }

        // @include for-phone-only {
        //   width: auto;
        //   margin: 0em 1.5em 1em;
        // }

        // @include for-tablet-portrait-only {
        //   width: auto;
        //   margin: 2em 5.5em;
        // }

        // @include for-tablet-landscape-only {
        //   margin: 4em auto 0 0;
        // }
      }

      //   @include for-phone-only {
      //     flex-direction: column;
      //   }

      //   @include for-tablet-portrait-only {
      //     flex-direction: column;
      //   }
    }

    @include e("contact-us") {
      width: 80%;
      margin: 0 auto 0;
      padding: 3em 0 7em;

      //   @include for-phone-only {
      //     padding-bottom: 4em;

      //     .contact-us {
      //       flex-direction: column-reverse;

      //       @include e("sub-info") {
      //         margin-left: 0;

      //         @include e("title") {
      //           font-size: 2em;
      //         }

      //         @include e("content") {
      //           font-size: 1em;
      //         }
      //       }

      //       form {
      //         margin-right: 0;
      //       }
      //     }
      //   }

      //   @include for-tablet-portrait-only {
      //     padding-bottom: 4em;

      //     .contact-us {
      //       flex-direction: column-reverse;

      //       @include e("sub-info") {
      //         margin-left: 1em;
      //       }

      //       form {
      //         margin-right: 1em;
      //       }
      //     }
      //   }
    }

    // @include for-big-desktop-up {
    //   padding: 0 10em;
    // }
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: $font-size-375 !important;
  }

  .blog {
    @include e("body") {
      @include e("breadcrumb") {
      }

      @include e("wrapper") {
        flex-direction: column;
        padding: 1em 0;

        @include e("main-content") {
          width: 100%;
          @include e("search") {
            display: block;
            .search-box form {
              input {
                width: 75%;
                font-size: 0.9em;
              }
            }
          }

          .news2 {
            @include e("inner") {
              @include e("info") {
                font-size: 0.65em;
              }

              @include e("title") {
                padding: 0;
                a {
                  font-size: 1.4em;
                }
              }
              @include e("image") {
                @include e("dateCreated") {
                  @include e("day") {
                    font-size: 0.9em;
                  }
                  @include e("month") {
                    font-size: 0.7em;
                  }
                }
              }
              @include e("content") {
                font-size: 0.9em;
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("title") {
            font-size: 1.3em;
            margin-bottom: 1.5em;
          }

          @include e("search") {
            display: none;
          }

          @include e("social-group") {
            margin: 2em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }
          }

          @include e("categories") {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2em;
            row-gap: 1em;
            @include e("category") {
              @include e("link") {
                font-size: 0.8em;
              }
            }
          }

          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 6em;
                  height: 6em;
                }
                @include e("info") {
                  width: 55%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }

          @include e("email") {
            @include e("content") {
              font-size: 0.9em;
            }
            .search-box form {
              input {
                width: 76%;
                font-size: 0.9em;
              }
            }
          }
        }
      }

      @include e("contact-us") {
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 1.7em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: $font-size-600 !important;
  }

  .blog {
    @include e("body") {
      @include e("breadcrumb") {
      }

      @include e("wrapper") {
        flex-direction: column;
        padding: 1.5em 0;

        @include e("main-content") {
          width: 100%;
          @include e("search") {
            display: block;
            .search-box form {
              input {
                width: 84%;
                font-size: 0.9em;
              }
            }
          }

          .news2 {
            @include e("inner") {
              @include e("info") {
                font-size: 0.65em;
              }

              @include e("title") {
                padding: 0 2em;
                a {
                  font-size: 1.4em;
                }
              }
              @include e("image") {
                @include e("dateCreated") {
                  @include e("day") {
                    font-size: 1em;
                  }
                  @include e("month") {
                    font-size: 0.8em;
                  }
                }
              }
              @include e("content") {
                font-size: 0.9em;
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("title") {
            font-size: 1.3em;
            margin-bottom: 1.5em;
          }

          @include e("search") {
            display: none;
          }

          @include e("social-group") {
            margin: 2em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }
          }

          @include e("categories") {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2em;
            row-gap: 1em;
            @include e("category") {
              @include e("link") {
                font-size: 0.8em;
              }
            }
          }

          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 6em;
                  height: 6em;
                }
                @include e("info") {
                  width: 68%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }

          @include e("email") {
            @include e("content") {
              font-size: 0.9em;
            }
            .search-box form {
              input {
                width: 85%;
                font-size: 0.9em;
              }
            }
          }
        }
      }

      @include e("contact-us") {
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 1.9em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: $font-size-768 !important;
  }

  .blog {
    @include e("body") {
      @include e("breadcrumb") {
      }

      @include e("wrapper") {
        flex-direction: column;
        padding: 2em 0;

        @include e("main-content") {
          width: 100%;
          @include e("search") {
            display: block;
            .search-box form {
              input {
                width: 85%;
                font-size: 0.9em;
              }
            }
          }

          .news2 {
            @include e("inner") {
              @include e("info") {
                font-size: 0.65em;
              }

              @include e("title") {
                padding: 0 3em;
                a {
                  font-size: 1.4em;
                }
              }
              @include e("image") {
                @include e("dateCreated") {
                  @include e("day") {
                    font-size: 1.1em;
                  }
                  @include e("month") {
                    font-size: 0.85em;
                  }
                }
              }
              @include e("content") {
                font-size: 0.9em;
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 0;
          width: 100%;
          border-top: 1px solid $table-border-color;
          @include e("title") {
            font-size: 1.3em;
            margin-bottom: 1em;
          }

          @include e("search") {
            display: none;
          }

          @include e("social-group") {
            margin: 2em 0 2em 0;
            .media-buttons {
              display: block;
              @include e("media-icons") {
                margin: 0.5em 1.3em 0.5em 0;
                &:nth-last-child(1) {
                  margin-right: 0;
                }
              }
            }
          }

          @include e("categories") {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2em;
            row-gap: 1em;
            @include e("category") {
              @include e("link") {
                font-size: 0.8em;
              }
            }
          }

          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 6em;
                  height: 6em;
                }
                @include e("info") {
                  width: 76%;
                  @include e("title") {
                    font-size: 0.9em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }

          @include e("email") {
            @include e("content") {
              font-size: 0.9em;
            }
            .search-box form {
              input {
                width: 85%;
                font-size: 0.9em;
              }
            }
          }
        }
      }

      @include e("contact-us") {
        .contact-us {
          flex-direction: column-reverse;
          @include e("form") {
            width: 100%;
          }
          @include e("sub-info") {
            width: 100%;
            margin: 0 0 2em;
            @include e("title") {
              font-size: 1.9em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: $font-size-992 !important;
  }

  .blog {
    @include e("body") {
      @include e("breadcrumb") {
      }

      @include e("wrapper") {
        flex-direction: row;
        padding: 4em 0;

        @include e("main-content") {
          width: 68%;
          @include e("search") {
            display: none;
          }

          .news2 {
            @include e("inner") {
              @include e("info") {
                font-size: 0.65em;
              }

              @include e("title") {
                padding: 0 4em;
                a {
                  font-size: 1.5em;
                }
              }
              @include e("image") {
                @include e("dateCreated") {
                  @include e("day") {
                    font-size: 1.1em;
                  }
                  @include e("month") {
                    font-size: 0.85em;
                  }
                }
              }
              @include e("content") {
                font-size: 0.9em;
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 5%;
          width: 27%;
          border-top: none;
          @include e("title") {
            font-size: 1.2em;
            margin-bottom: 1em;
          }

          @include e("search") {
            display: block;
            .search-box form {
              input {
                width: 65%;
                font-size: 0.8em;
              }
            }
          }

          @include e("social-group") {
            margin: 1em 0 2em 0;
            .media-buttons {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: 0em;
              row-gap: 1em;
              @include e("media-icons") {
                margin: auto;
                &:nth-last-child(1) {
                  margin-right: auto;
                }
              }
            }
          }

          @include e("categories") {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("category") {
              @include e("link") {
                font-size: 0.7em;
              }
            }
          }

          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 5em;
                  height: 5em;
                }
                @include e("info") {
                  width: 41%;
                  @include e("title") {
                    font-size: 0.8em;
                  }
                  @include e("date") {
                    font-size: 0.75em;
                  }
                }
              }
            }
          }

          @include e("email") {
            @include e("content") {
              font-size: 0.85em;
            }
            .search-box form {
              input {
                width: 65%;
                font-size: 0.8em;
              }
            }
          }
        }
      }

      @include e("contact-us") {
        .contact-us {
          flex-direction: row;
          @include e("form") {
            width: 50%;
          }
          @include e("sub-info") {
            width: 45%;
            margin: 0 0 0 5%;
            @include e("title") {
              font-size: 2.1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: $font-size-1200 !important;
  }

  .blog {
    @include e("body") {
      @include e("breadcrumb") {
      }

      @include e("wrapper") {
        flex-direction: row;
        padding: 4em 0;

        @include e("main-content") {
          width: 68%;
          @include e("search") {
            display: none;
          }

          .news2 {
            @include e("inner") {
              @include e("info") {
                font-size: 0.65em;
              }

              @include e("title") {
                padding: 0 4em;
                a {
                  font-size: 1.4em;
                }
              }

              @include e("image") {
                @include e("dateCreated") {
                  @include e("day") {
                    font-size: 1.2em;
                  }
                  @include e("month") {
                    font-size: 0.9em;
                  }
                }
              }

              @include e("content") {
                font-size: 0.9em;
              }
            }
          }
        }

        @include e("sub-content") {
          margin-left: 5%;
          width: 27%;
          border-top: none;
          @include e("title") {
            font-size: 1.2em;
            margin-bottom: 1em;
          }

          @include e("search") {
            display: block;
            .search-box form {
              input {
                width: 68%;
                font-size: 0.8em;
              }
            }
          }

          @include e("social-group") {
            margin: 1em 0 2em 0;
            .media-buttons {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: 0em;
              row-gap: 1em;
              @include e("media-icons") {
                margin: auto;
                &:nth-last-child(1) {
                  margin-right: auto;
                }
              }
            }
          }

          @include e("categories") {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 0em;
            row-gap: 1em;
            @include e("category") {
              @include e("link") {
                font-size: 0.7em;
              }
            }
          }

          @include e("latest-posts") {
            @include e("post") {
              .latestPost {
                @include e("image") {
                  width: 5em;
                  height: 5em;
                }
                @include e("info") {
                  width: 52%;
                  @include e("title") {
                    font-size: 0.85em;
                  }
                  @include e("date") {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }

          @include e("email") {
            @include e("content") {
              font-size: 0.85em;
            }
            .search-box form {
              input {
                width: 68%;
                font-size: 0.8em;
              }
            }
          }
        }
      }

      @include e("contact-us") {
        .contact-us {
          flex-direction: row;
          @include e("form") {
            width: 50%;
          }
          @include e("sub-info") {
            width: 45%;
            margin: 0 0 0 5%;
            @include e("title") {
              font-size: 2.3em;
            }
          }
        }
      }
    }
  }
}
