@import "../../default.scss";

#wrap-followed-person{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#wrap-followed-person #avatar a img{
    width: 20vh;
    border-radius: 50%;
    border: 0.8px solid rgb(173, 167, 167);
}

#wrap-followed-person #avatar a img:hover{
    box-shadow: 2px 2px 2px rgb(172, 169, 169);
}

#wrap-followed-person #name a{
    color : $main-color;
    font-size: 1em;
    text-decoration: none;
}

#wrap-followed-person #name a:hover{
    font-weight: bold;
}

#wrap-followed-person #number-followers{
    color: $font-note-color;
    font-size: 1em;
    margin-bottom: 3px;
}

#wrap-followed-person #btn{
    display: inline-block;
}

#wrap-followed-person #btn button{
    padding: 2px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 0.5px solid rgb(173, 167, 167);
    box-shadow: 1px 1px 2px rgb(173, 170, 170);
    outline: none;

}

#wrap-followed-person #btn button:hover{
    box-shadow: 2px 2px 2px rgb(78, 77, 77);
}

