@import "../../default.scss";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@mixin e($element){
    &__#{$element} {
        @content;
    }
}
//block modifier
@mixin m($modifier){
    &--#{$modifier} {
        @content;
    }
}

.post-body { 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    display: flex;

    //css for body content
    @include e('content') {
        width: 70%;

        //this is css for post title
        .post-title{
            @include e('h1') {
                margin-bottom: 0px;
                font-size: 42px;
                color: rgba(0,0,0,0.84);
            }
        }
        //css for book infomation (title, author, genre and average point)
        .book-info{
            margin-top: 5px;
            margin-bottom: 22px;

            @include e('h2'){
                color: rgba(0,0,0,0.54);
                margin-bottom: 0px;
                font-size: 26px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            @include e('title') {
                color: rgba(0,0,0,0.54);     
            }
            @include e('author') {
                color: rgba(0,0,0,0.54);
            }
            @include e('average-point') {
                font-size: 18px;
                font-style: italic;
            }
            @include e('book-genre'){
                font-size: 12px;
                color: rgba(0,0,0,0.54);
                a {
                    color: rgba(0,0,0,0.54);
                }
            }
                
        }
        //css for reviewer information 
        .reviewer-info{
            margin: 2px 0 22px 0;
            display: inline-grid;
            grid-template-columns: 90px auto;
            grid-template-rows: auto;
            grid-template-areas: 
                "avatar username follow" 
                "avatar givenpoint givenpoint";
            @include e('avatar'){
                grid-area: avatar;
                @include m('style'){
                    border: 3px solid #6FD6FF;
                    border-radius: 999px;
                    height: 70px;
                }
            }
            @include e('username'){
                font-size: 16px;
                grid-area: username;
                display: flex;
                align-items: flex-end;
                a {
                    color: rgba(0,0,0,0.84);
                }
                
            }
            @include e('follow'){
                grid-area: follow;
                display: flex;
                align-items: flex-end;
                margin-left: auto;
                @include e('button'){
                    background: none;
                    padding: 2px 12px;
                    color: $main-color;
                    border: 1px solid rgba(0,0,0,0.54);
                    border-radius: 999px;
                    font-size: 12px;
                }
            }
            @include e('given-point'){
                display: flex;
                align-items: center;
                grid-area: givenpoint;
                color: rgba(0,0,0,0.54);
                font-size:14px;
                font-style: italic;
            }

        }
    }
    //css for post subgroup (a column includes information about the book and the author ...)    
    .post-subgroup{
        
        width: 30%;
        padding-left: 20px;
        @include e('book-info'){
            // background-color:red;
            padding: 10px;
            overflow: auto;
            @include e('title'){
                padding-bottom:5px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                @include e('a'){
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;            
                    color: rgba(0,0,0,0.84);   
                }
                @include e('average-point'){
                    font-size: 14px;
                }
            }
            @include e('img'){               
                @include m('float'){                   
                    float: left;
                    width: 50%;
                    height: auto;
                    margin: 10px 10px 0 0;
                }
            }
            @include e('shortcut'){ 
                margin: 10px 0 22px 0;              
                text-align: left;
                font-size:14px;
                @include e('more'){
                    color: $main-color;
                }
            }
        }
        @include e('author-info'){
            padding: 10px;
            @include e('name'){
                padding-bottom:5px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                
                @include e('a'){
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: rgba(0,0,0,0.84);   
                }
            }
            @include e('top'){
                margin: 10px 0 10px 0;
                display: inline-grid;
                grid-template-columns: 90px auto;
                grid-template-rows: auto;
                grid-template-areas: 
                "avatar name name" 
                "avatar follow .";
                @include e('avatar'){
                    grid-area: avatar;
                    @include e('img') {                        
                        border-radius: 999px;
                        width: 100%;
                        height: 100%;
                    }
                }
                @include e('name') {
                    grid-area: name;
                    margin-left: 15px;
                    @include e('a'){
                        color: rgba(0,0,0,0.84);
                    }
                }
                @include e('follow'){
                    grid-area:follow;
                    display: flex;
                    align-items: baseline;
                    margin-left: auto;
                    @include e('button'){
                        padding: 5px 30px;
                        color: $main-color;
                        background: none;
                        border: 1px solid rgba(0,0,0,0.54);
                        border-radius: 3px;
                        font-size: 12px;
                    }
                }                            
            }
            @include e('bottom'){
                font-size: 14px;
                margin: 10px 0 22px 0;
                @include e('more'){
                    color: $main-color;
                }
            }
        }
        @include e('related-books'){   
            padding: 10px;  
                  
            @include e('title'){
                padding-bottom:5px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                @include e('a'){
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;            
                    color: rgba(0,0,0,0.84);
                }
            }
            @include e('content'){
                margin: 10px 0 22px 0;
                .rlb-content-tr{
                    @include e('td-cover'){
                        width: 40%;
                        @include e('img'){
                            width: 100%;
                            padding:5px;
                        }
                    }
                    @include e('td-detail'){
                        padding: 5px;
                        font-size: 14px;
                        vertical-align:  -webkit-baseline-middle;                
                    }
                }        
            }
            
            
        }
    }
    .post-widget{        
        position: fixed;
        top: 30%;
        left: 15px;        
        width: 115px;
        @include e('reviewer-avatar'){
            @include e('img'){
                margin: 0 0 5px 20px;
                border: 3px solid #6FD6FF;
                border-radius: 999px;
                height: 70px;
            }
        }
        @include e('username'){
            font-size: 14px;
            margin-bottom: 5px;
            @include e('a'){
                color: rgba(0,0,0,0.84);
            }
        }
        @include e('quote'){
            color: $main-color;
            margin-bottom: 5px;
            font-size:14px;
            @include m('style'){
                padding:0 0 0 10px;
                color: rgba(0,0,0,0.54);
                font-style: italic;
                font-size: 12px;
            }
            .fas-quote-icon-right{
                text-align: right;
            }
        }
        @include e('follow'){
            @include e('button'){
                padding: 5px 30px;
                margin-left: 0px;
                color: $main-color;
                background: none;
                border: 1px solid rgba(0,0,0,0.54);
                border-radius: 3px;
                font-size: 12px;
            }
        }
        @include e('function-buttons'){
            font-size:24px;
            font-weight: 100;
            margin-left: 20%;
            color: rgba(0,0,0,0.84);
            @include e('saved'){
                color: #6FD6FF;
            }
            @include e('reacted'){
                color: red;
            }
        }
    }


}



//block element


//// Rewriting our previous example with our brand new mixins
// .menu {
//     ...

//     @include e('item') {
//         ...
//     }

//     @include m('fixed') {
//         ...
//     }
// }