@import "../../default.scss";

.latestPost {
  // height: 7em;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  // margin: 2em 2em;
  @include e("image") {
    width: 5em;
    height: 5em;
    margin: auto;
    margin-left: 0;
    overflow: hidden;
    border-radius: 50%;
    a {
      img {
        width: 100%;
        height: 100%;
        transform: scale(1.05);
        transition: all 800ms ease;
        // &:hover {
        //   transform: scale(1);
        // }
      }
    }
  }

  @include e("info") {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include e("title") {
      font-size: 0.8em;
      font-family: $font-family-special;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      a {
        color: $font-color;
        text-decoration: none;
        transition: all 200ms ease;
        &:hover {
          color: $main-color;
        }
      }
    }
    @include e("date") {
      margin-top: 0.5em;
      font-size: 0.75em;
      word-spacing: 0.05em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $main-color;
      font-family: $font-family-special;
    }
  }
  &:hover img {
    transform: scale(1);
  }
}
