@import "../../default.scss";

.course-options {
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  //   width: 35em;
  width: 100%;
  background-color: #fff;
  // border-radius: 5px;
  // font-size: $font-size;

  .divider {
    height: 1px;
    background-color: $table-border-color; //rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0px;
  }

  @include e("title") {
    font-size: 1.1em;
    color: $main-color; //rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 1.75em;
    letter-spacing: 0.05em;
    padding: 1em 0;
    font-family: $font-family-special;
  }

  @include e("content") {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 2em;
    padding-bottom: 1em;

    @include e("course") {
      position: relative;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2em 3em;

      @include e("icon") {
        position: absolute;
        left: 0em;
        top: 1.5em;
        transform: translateX(-50%);
        width: 2.3em;
        height: 2.3em;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lighten($sub-main-color, 25%);
        box-shadow: 1px 1px 10px #ebebeb;
        i {
          color: $main-color;
          font-size: 0.9em;
        }
      }

      @include e("name") {
        color: $main-color;
        font-family: $font-family-special;
        font-size: 1em;
        margin-bottom: 1em;
        &::first-letter {
          text-transform: capitalize;
        }
        span {
          color: #f17300;
          font-size: 0.8em;
          margin-left: 1em;
        }
      }

      @include e("list-options") {
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
        row-gap: 2em;

        @include e("option") {
          position: relative;
          // padding: 1em 10%;
          color: $font-color;
          font-size: 0.9em;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transition: 200ms ease;
          z-index: 1;
          &:hover {
            border: 1px solid lighten($sub-main-color, 25%);
            color: $main-color;
            background: lighten($sub-main-color, 25%);
            box-shadow: 1px 1px 5px #ebebeb;
          }
          & > input[type="checkbox"] {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 0;
            width: 100%;
            height: 100%;
            display: block;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            &:checked
              + .course-options__content__course__list-options__option__name {
              background: lighten($sub-main-color, 25%);
              border: 1px solid lighten($sub-main-color, 25%);
              color: $main-color;
              box-shadow: none;
            }
            &:not(:checked)
              + .course-options__content__course__list-options__option__name {
            }
          }
          @include e("name") {
            padding: 1em 2em;
          }
          @include e("discount") {
            font-size: 0.8em;
            position: absolute;
            right: -1.5em;
            top: -0.5em;
            color: #fff;
            background-color: #f17300;
            border-radius: 5px;
            padding: 0.3em 0.5em;
            i {
              font-size: 0.8em;
              margin-right: 0.2em;
            }
          }
          @include m("optional") {
            & > input {
              width: 80%;
              background: #fff;
              color: $color-grey;
              font-family: $font-body;
              font-size: 0.9em;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 5px;
              outline: none;
              padding: 1em 10%;
              cursor: pointer;
              transition: 200ms ease;
              &::placeholder {
                color: $font-color;
                font-size: 0.9em;
              }
              &:hover {
                border: 1px solid lighten($sub-main-color, 25%);
                color: $main-color;
                background: lighten($sub-main-color, 25%);
                box-shadow: 1px 1px 5px #ebebeb;
              }
            }
          }
        }
      }
    }
    @include e("button") {
      display: flex;
      justify-content: center;
      padding: 2em 0em 1em;
      // width: 5em;
      // height: 1em;
      button {
        font-size: 1em;
        padding: 0.6em 1.8em;
        text-align: center;
        border: none;
        border-radius: 5px;
        outline: none;
        // letter-spacing: 0.05em;
        transition: 200ms ease;
        color: $main-color;
        background-color: lighten($sub-main-color, 25%);
        box-shadow: 1px 1px 5px #ebebeb;
        text-transform: uppercase;
        cursor: pointer;
        i {
          font-size: 0.9em;
          margin-left: 0.3em;
        }
        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }
    }
  }
}
