@import '../../default.scss';

.contact {
  background-color: #fff;
  @include e('body') {
    @include e('title') {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include e('inner') {
        padding: 0 25%;
        text-align: center;
        color: #fff;
        div {
          text-transform: capitalize;
          font-family: $font-family-special;
          font-size: 3.6em;
          letter-spacing: 0.025em;
        }
        p {
          margin: 0.8em 0 1em;
          font-size: 0.9em;
          line-height: 1.5em;
        }
      }
      @include e('image') {
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
        @include e('info') {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          color: #fff;
          transform: translate(-50%, -50%);
          div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 3.6em;
            letter-spacing: 0.025em;
            white-space: nowrap;
          }
          p {
            margin: 0.8em 0 1em;
            font-size: 0.9em;
            line-height: 1.5em;
          }
        }
      }
    }
    @include e('intro') {
      width: 85%;
      margin: 5em auto 0em;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-column-gap: 2%;
      grid-row-gap: 1em;
      .introHome2 {
        margin: auto;
      }
    }
    @include e('brands') {
      width: 100%;
      margin-top: 5em;
      background-color: $background-color;
      @include e('slick-autoplay') {
        padding: 4em 10%;
        @include e('item') {
          img {
            width: 100%;
            height: auto;
          }
        }
        .slick-track {
          padding: 0;
        }
        .slick-slide {
          margin: 0 0.8em;
        }
      }
    }
    @include e('map') {
      width: 100%;
    }
    @include e('contactUs') {
      width: 80%;
      margin: 4em auto 0;
      padding: 3em 0 5em;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  html {
    font-size: $font-size-375 !important;
  }

  .contact__body__title {
    padding: 0;
    background: none;
    .contact__body__title__image {
      display: block;
      img {
        height: 20em;
        object-fit: cover;
      }
      .contact__body__title__image__info {
        top: 50%;
        // padding: 0 10%;
        div {
          font-size: 3.1em;
        }
        p {
          font-size: 0.7em;
        }
      }
    }
    .contact__body__title__inner {
      display: none;
    }
  }

  .contact__body__intro {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
  }

  .contact__body__map {
    .map {
      height: 28em;
    }
  }

  .contact__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        width: 100%;
        margin: 0;
      }
      .contact-us__sub-info {
        width: 100%;
        margin: 0 0 2em;
        @include e('title') {
          font-size: 1.7em;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: $font-size-600 !important;
  }

  .contact__body__title {
    padding: 0;
    background: none;
    .contact__body__title__image {
      display: block;
      img {
        height: 20em;
        object-fit: cover;
      }
      .contact__body__title__image__info {
        top: 45%;
        // padding: 0 15%;
        div {
          font-size: 3.3em;
        }
        p {
          font-size: 0.7em;
        }
      }
    }
    .contact__body__title__inner {
      display: none;
    }
  }

  .contact__body__intro {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
  }

  .contact__body__map {
    .map {
      height: 28em;
    }
  }

  .contact__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        width: 100%;
        margin: 0;
      }
      .contact-us__sub-info {
        width: 100%;
        margin: 0 0 2em;
        @include e('title') {
          font-size: 1.9em;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: $font-size-768 !important;
  }

  .contact__body__title {
    padding: 0;
    background: none;
    .contact__body__title__image {
      display: block;
      img {
        height: auto;
        object-fit: contain;
      }
      .contact__body__title__image__info {
        top: 50%;
        padding: 0 20%;
        div {
          font-size: 3.6em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
    .contact__body__title__inner {
      display: none;
    }
  }

  .contact__body__intro {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
  }

  .contact__body__map {
    .map {
      height: 29em;
    }
  }

  .contact__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        width: 100%;
        margin: 0;
      }
      .contact-us__sub-info {
        width: 100%;
        margin: 0 0 2em;
        @include e('title') {
          font-size: 1.9em;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: $font-size-992 !important;
  }

  .contact__body__title {
    padding: 8em 0em;
    background-image: url(https://i.imgur.com/w1YuXlw.jpg);
    //background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    .contact__body__title__image {
      display: none;
    }
    .contact__body__title__inner {
      display: block;
      padding: 0 26%;
      div {
        font-size: 3.6em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }

  .contact__body__intro {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
  }

  .contact__body__map {
    .map {
      height: 29em;
    }
  }

  .contact__body__contactUs {
    .contact-us {
      flex-direction: row;
      .contact-us__form {
        width: 50%;
        margin: 0;
      }
      .contact-us__sub-info {
        width: 45%;
        margin: 0 0 0 5%;
        @include e('title') {
          font-size: 2.1em;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: $font-size-1200 !important;
  }

  .contact__body__title {
    padding: 8em 0em;
    background-image: url(https://i.imgur.com/w1YuXlw.jpg);
    //background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    .contact__body__title__image {
      display: none;
    }
    .contact__body__title__inner {
      display: block;
      padding: 0 25%;
      div {
        font-size: 3.7em;
      }
      p {
        font-size: 1em;
      }
    }
  }

  .contact__body__intro {
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2%;
  }

  .contact__body__map {
    .map {
      height: 30em;
    }
  }

  .contact__body__contactUs {
    .contact-us {
      flex-direction: row;
      .contact-us__form {
        width: 50%;
        margin: 0;
      }
      .contact-us__sub-info {
        width: 45%;
        margin: 0 0 0 5%;
        @include e('title') {
          font-size: 2.3em;
        }
      }
    }
  }
}
