@import "../../default.scss";

.number-section {
  font-family: $font-family-number;
  display: inline-block;
  text-align: center;
  position: relative;
  @include e("number") {
    font-size: 10em;
    color: $sub-main-color;
    font-weight: 700;
    opacity: 0.18;
    z-index: -1;
  }
  @include e("content") {
    width: 100%;
    font-family: $font-family-special;
    color: $main-color;
    text-transform: capitalize;
    font-size: 1.5em;
    position: absolute;
    top: 53%;
  }
}
