@import '../../default.scss';

.activity {
  //   font-family: $font-family-special;
  //   font-size: $font-size;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  //   width: 35em;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  //   margin: 1em;

  .divider {
    height: 1px;
    background-color: $table-border-color; //rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0px;
  }

  @include e('title') {
    font-size: 1em;
    color: $color-grey; //rgba(0, 0, 0, 0.7);
    margin-left: 1.5em;
    letter-spacing: 0.2px;
    padding: 1em 0;
    // font-weight: 700;
  }

  @include e('actions') {
    list-style: none;
    padding-left: 2em;
    margin: 0 0 1em 0;
    padding-bottom: 1em;
    max-height: 30em;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: #fafafa;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #83ccd2;
    }

    @include e('detail') {
      display: flex;
      position: relative;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1em 1em 1em 2em;
      justify-content: space-between;
      align-items: center;

      @include e('img') {
        position: absolute;
        left: 0;
        top: 1em;
        transform: translateX(-50%);
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 1px 1px 10px #ebebeb;
        img {
          width: 100%;
          height: 100%;
        }
      }

      @include e('content') {
        width: 64%;
        margin-right: 1%;
        font-family: $font-family-special;

        @include e('time') {
          font-size: 0.75em;
          color: $font-color; //rgba(0, 0, 0, 0.6);
          margin-bottom: 0.5em;
        }

        @include e('suport') {
          font-style: italic;
          font-size: 0.75em;
          color: $font-color; //rgba(0, 0, 0, 0.6);
          margin-bottom: 0.5em;
        }

        @include e('text') {
          font-size: 0.9em;
          color: $color-grey; //rgba(0, 0, 0, 0.8);

          &::first-letter {
            text-transform: capitalize;
          }
        }
      }

      @include e('btn') {
        width: 31%;
        height: fit-content;
        font-size: 0.7em;
        padding: 0.5em 2%;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: $font-color; //rgba(0, 0, 0, 0.7);
        background-color: #fff;
        text-align: center;
        letter-spacing: 0.4px;
        font-family: $font-family-special;
        text-decoration: none;
        outline: none;
        transition: 200ms ease;
        cursor: pointer;

        &::first-letter {
          text-transform: capitalize;
        }

        &:hover {
          border: 1px solid lighten($sub-main-color, 25%); //#ebebeb;
          color: $main-color;
          background: lighten($sub-main-color, 25%); //#ebebeb;
          box-shadow: 2px 2px 10px #ebebeb;
        }
      }
    }
  }
}
