.books-main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    .books-overview {
        display: flex;
        #books-overview-list {
            flex-basis: 70%;
        }
        #books-overview-ranks {
            flex-basis: 30%;
        }
    }
}