@import '../../default.scss';

.stepsLine {
  display: flex;
  justify-content: center;
  align-items: center;
  @include e('line') {
    height: 2px;
    width: 20%;
    background-color: lighten($sub-main-color, 25%);
  }
  @include e('btn') {
    width: 2.5em;
    height: 2.5em;
    background-color: lighten($sub-main-color, 25%);
    font-size: 1em;
    font-family: $font-body;
    color: $main-color;
    // border: 1px solid $table-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: none;
    margin: 0;
    box-shadow: 1px 1px 5px #ebebeb;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}
