@import "../../default.scss";

$background-color-chart: lighten($sub-main-color, 30%);
$hover-color: lighten($sub-main-color, 27%);

.reviewAddCourse {
  .divider {
    height: 1px;
    background-color: $table-border-color;
    border: none;
    margin: 0px;
  }
  .divider-grey {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0px;
  }

  @include e("title") {
    font-size: 1.1em;
    color: $main-color; //rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 1.75em;
    letter-spacing: 0.05em;
    padding: 1em 0;
    font-family: $font-family-special;
  }
  @include e("content") {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    @include e("title") {
      padding: 1.2em 0;
      text-align: center;
      font-size: 1em;
      margin-top: 2em;
      &:nth-child(1) {
        margin-top: 0em;
      }
      @include e("inner") {
        position: relative;
        display: inline-block;
        padding: 0 0.5em;
        z-index: 0;
        color: $main-color;
        @include m("hover") {
          position: absolute;
          left: 0;
          bottom: -0.5em;
          height: 1.1em;
          width: 100%;
          background-color: $hover-color;
          z-index: -1;
        }
      }
    }
    @include e("info") {
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2em;
      row-gap: 2em;
      @include e("item") {
        @include e("title") {
          font-size: 0.9em;
          color: $main-color;
          margin-bottom: 0.3em;
        }
        @include e("content") {
          font-size: 0.85em;
          color: $color-grey;
          letter-spacing: 0.05em;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
      &:nth-last-child(1) {
        padding: 0.5em 1em 1em;
      }
    }
    @include e("images") {
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2em;
      row-gap: 1em;
      @include e("item") {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    @include e("timeTable") {
      margin: 1em 0;
      color: $color-grey;
      @include e("event") {
        margin-bottom: 1em;
        @include e("date") {
          text-transform: capitalize;
          font-size: 0.9em;
          color: $main-color;
        }
        @include e("class-info") {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $light-border-color;
          padding: 0.8em 0;
          @include e("class-name") {
            font-size: 0.9em;
            color: $color-grey;
          }
          @include e("class-time") {
            font-size: 0.8em;
            color: $font-color;
          }
        }
      }
    }
    @include e("post") {
      margin: 2em 0;
      @include e("image") {
        width: 100%;
        height: auto;
        margin-bottom: 1.5em;
        position: relative;

        @include e("dateCreated") {
          position: absolute;
          top: 0;
          text-align: center;
          margin-left: 1.1em;

          span {
            color: $main-color;
            font-size: 0.9em;
            display: block;

            font-family: $font-family-special;
            font-weight: 500;
            text-align: center;
            background-color: #fff;
          }

          @include e("day") {
            padding: 5px 10px;
            width: 3em;
            font-size: 1.2em;
            line-height: 3em;
          }

          @include e("month") {
            padding: 0 10px;
            font-size: 0.9em;
            line-height: 2em;
            margin-top: 0.1em;
            text-transform: capitalize;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      @include e("title") {
        font-family: $font-family-special;
        font-size: 1.1em;
        padding: 0 0 1em;
      }

      @include e("content") {
        margin: 10px 0;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1em;
        line-height: 26px;
      }
    }
    @include e("benefits") {
      margin: 2em 0 1em;
    }
    @include e("trainer") {
      margin: 2em 0 1em;
    }
  }
  @include e("button") {
    display: flex;
    justify-content: center;
    padding: 2em 0em 1em;
    button {
      font-size: 1em;
      padding: 0.6em 1.8em;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      font-family: $font-body;
      transition: 200ms ease;
      color: $main-color;
      background-color: lighten($sub-main-color, 25%);
      box-shadow: 1px 1px 5px #ebebeb;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}
