@import '../../default.scss';
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon&display=swap');

$font-family-icon: 'IM Fell French Canon', serif;
$color-icon: lighten($sub-main-color, 15%);

.review {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(131, 204, 210, 0.05),
    0 -1px 5px rgba(131, 204, 210, 0.05), -3px 0 20px rgba(131, 204, 210, 0.05),
    3px 0 20px rgba(131, 204, 210, 0.05);
  box-shadow: 0 10px 20px rgba(131, 204, 210, 0.1),
    0 -1px 5px rgba(131, 204, 210, 0.1), -3px 0 20px rgba(131, 204, 210, 0.1),
    3px 0 20px rgba(131, 204, 210, 0.1);
  // @include e('blankTop') {
  //   height: 6%;
  // }
  display: flex;
  align-items: center;
  @include e('inner') {
    @include e('image') {
      position: relative;
      width: 6em;
      height: 6em;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      @include e('icon') {
        color: $sub-main-color;
        opacity: 0.4;
        position: absolute;
        font-family: $font-family-icon;
        font-size: 8em;
        top: -35%;
        left: -55%;
      }
    }
    @include e('info') {
      text-align: center;
      padding: 1em 1.75em 0;
      overflow: hidden;
      @include e('content') {
        font-size: 0.9em;
        color: $font-color;
        line-height: 1.4em;
        word-spacing: 0.1em;
        // &::first-letter {
        //   text-transform: capitalize;
        // }
      }
      @include e('owner') {
        letter-spacing: 0.05em;
        font-size: 0.65em;
        margin-top: 1.5em;
        color: $main-color;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
