@import "../../../../default.scss";

#stand-out-post-2-column-empty {
	text-align: center;
	margin: 10px auto;
	span {
		text-align: center;

		color: rgb(207, 203, 203);
	}
}
.stand-out-post-2-column {
	$width-one-column: 310px;
	display: flex;
	margin: 10px auto;
	justify-content: space-around;
	&__left{
		padding-right: 10px;
	}
	&__right{
		padding-left: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.stand-out-post-2-column {
		flex-direction: column;
	}
}
