@import "../../default.scss";

$hover-color: lighten($sub-main-color, 30%);

.table {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  @include e("title") {
    position: absolute;
    top: -0.8em;
    left: 0.8em;
    display: flex;
    align-items: flex-end;
    @include e("icon") {
      background-color: $main-color;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
      box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
      i {
        padding: 1em 1.1em;
        color: #fff;
        font-size: 1.1em;
      }
    }
    @include e("content") {
      margin-left: 1.5em;
      margin-bottom: 0.3em;
    }
  }
  @include e("content") {
    padding: 3em 0 2em;
    width: 95%;
    margin: auto;
    overflow: hidden;
    @include e('search-input') {
      background: #fff;
      color: $font-color;
      font-family: $font-body;
      font-size: 1em;
      border: 1px solid $table-border-color;
      border-radius: 5px;
      outline: none;
      padding: 0.5em 1em;
      margin-right: 0.5em;
      // width: 90%;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      @include m('date') {
        padding: 1em 5%;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: inner-spin-button;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.9em;
      }
      &:focus {
        outline: none;
        border: 1px solid $main-color;
      }
  }
    @include e("firstCol") {
      width: 5em;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      thead,
      tbody tr {
        display: table !important;
        width: 100%;

      }
      tbody {
        display: block !important;
        max-height: 28em;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
          background-color: #fafafa;
        }

        &::-webkit-scrollbar {
          height: 8px;
          width: 8px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #83ccd2;
        }
      }
      tr {
        border-bottom: 1px solid $table-border-color;
        transition: 200ms;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
      th {
        font-size: 0.9em;
        text-align: center;
      }
      td {
        text-align: center;
      }
      th {
        font-weight: normal;
        font-size: 0.9em;
        font-family: $font-family-special;
        padding: 0.9em;
      }
      td {
        padding: 1em;
        font-size: 0.8em;
      }
    }
    @include e("center") {
      text-align: center !important;
    }
    @include e("right") {
      text-align: right !important;
    }
    @include e("btn") {
      margin-right: 0.5em;
      border: 0;
      outline: 0;
      padding: 0;
      color: #fff;
      border-radius: 5px;
      padding: 0.6em;
      transition: all 200ms ease-in;
      cursor: pointer;
      &:nth-last-child(1) {
        margin-right: 0em;
      }
      @include m("primary") {
        text-align: center;
        background: $main-color;
        box-shadow: 1px 1px 2px 0 rgba(0, 163, 175, 0.5);
        &:hover {
          background: darken($main-color, 5%);
        }
        &:active {
          background: $main-color;
          box-shadow: 1px 1px 5px 0 rgba(0, 163, 175, 0.3);
        }
        i {
          margin: 0 0.3em;
        }
      }
      @include m("success") {
        background: #4caf50;
        box-shadow: 1px 1px 2px 0 rgba(76, 175, 80, 0.5);
        &:hover {
          background: darken(#4caf50, 5%);
        }
        &:active {
          background: #4caf50;
          box-shadow: 1px 1px 5px 0 rgba(76, 175, 80, 0.3);
        }
      }
      @include m("warning") {
        background: #f44336;
        box-shadow: 1px 1px 2px 0 rgba(244, 67, 54, 0.5);
        &:hover {
          background: darken(#f44336, 5%);
        }
        &:active {
          background: #f44336;
          box-shadow: 1px 1px 5px 0 rgba(244, 67, 54, 0.3);
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .table {
    .table__content {
      .table__content__right,
      .table__content__center {
        text-align: left !important;
      }
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tbody > tr {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }

      tbody > tr:first-child {
        //border-radius: 3px 3px 0 0;
        border-top: none;
      }

      tbody > tr:last-child {
        // border-radius: 0 0 3px 3px;
        border-bottom: none;
      }

      tbody > tr td {
        border: none;
        border-bottom: 1px solid $table-border-color;
        position: relative;
        padding-left: 35% !important;
        // width: 100%;
        // overflow: hidden;
      }

      tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4%;
        width: 28%;
        padding-right: 3%;
        white-space: nowrap;
        font-size: 0.9em;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .table {
    .table__content {
      .table__content__right,
      .table__content__center {
        text-align: left !important;
      }
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tbody > tr {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }

      tbody > tr:first-child {
        //border-radius: 3px 3px 0 0;
        border-top: none;
      }

      tbody > tr:last-child {
        // border-radius: 0 0 3px 3px;
        border-bottom: none;
      }

      tbody > tr td {
        border: none;
        border-bottom: 1px solid $table-border-color;
        position: relative;
        padding-left: 35% !important;
        // width: 100%;
        // overflow: hidden;
      }

      tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4%;
        width: 28%;
        padding-right: 3%;
        white-space: nowrap;
        font-size: 0.9em;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .table {
    .table__content {
      .table__content__right,
      .table__content__center {
        text-align: left !important;
      }
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tbody > tr {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }

      tbody > tr:first-child {
        //border-radius: 3px 3px 0 0;
        border-top: none;
      }

      tbody > tr:last-child {
        // border-radius: 0 0 3px 3px;
        border-bottom: none;
      }

      tbody > tr td {
        border: none;
        border-bottom: 1px solid $table-border-color;
        position: relative;
        padding-left: 35% !important;
        // width: 100%;
        // overflow: hidden;
      }

      tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4%;
        width: 28%;
        padding-right: 3%;
        white-space: nowrap;
        font-size: 0.9em;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .table {
    .table__content {
      .table__content__right {
        text-align: right !important;
      }
      .table__content__center {
        text-align: center !important;
      }

      table {
        display: table;
      }
      thead {
        display: table-header-group;
      }
      tbody {
        display: table-row-group;
      }
      th,
      td {
        display: table-cell;
      }
      tr {
        display: table-row;
      }

      thead > tr {
        position: static;
      }

      tr {
        border-bottom: 1px solid $table-border-color;
        border-top: none !important;
      }

      tbody > tr td {
        border: none;
        padding: 1em !important;
      }

      tbody > tr td:before {
        content: "";
        position: static;
        width: 0%;
        padding-right: 0%;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .table {
    .table__content {
      .table__content__right {
        text-align: right !important;
      }
      .table__content__center {
        text-align: center !important;
      }

      table {
        display: table;
      }
      thead {
        display: table-header-group;
      }
      tbody {
        display: table-row-group;
      }
      th,
      td {
        display: table-cell;
      }
      tr {
        display: table-row;
      }

      thead > tr {
        position: static;
      }

      tr {
        border-bottom: 1px solid $table-border-color;
        border-top: none !important;
      }

      tbody > tr td {
        border: none;
        padding: 1em !important;
      }

      tbody > tr td:before {
        content: "";
        position: static;
        width: 0%;
        padding-right: 0%;
      }
    }
  }
}
