@import "../../default.scss";

.home {
  background-color: #fff;
  @include e("body") {
    @include e("slider") {
    }
    @include e("intro") {
      padding: 0 3.5em;
      margin-top: -8em;
      display: flex;
      justify-content: center;
      // align-items: center;
      .introHome {
        width: 20em;
        height: auto;
        z-index: 1;
        margin-right: 2em;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    @include e("intro-slick-autoplay") {
      width: 100%;
      margin-top: -8em;
      padding: 0 8%;
      @include e("item") {
        .introHome {
          padding: 0 1em;
        }
      }
      .slick-dots {
        text-align: center;
        padding: 0;
        margin-top: 0;
      }
      button {
        padding: 0;
        text-shadow: none;
        color: transparent;
        background-color: transparent;
        border: 1px solid $sub-main-color;
        outline: none;
        border-radius: 50%;
        width: 0.6em;
        height: 0.6em;
        cursor: pointer;
      }
      li {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
      }
      .slick-active button {
        background-color: $sub-main-color;
      }
      .slick-track {
        padding: 1em 0;
      }
      .slick-slide {
        margin: 0 1.5em;
        height: auto;
        width: 100%;
      }
    }
    @include e("trainingClass") {
      width: 80%;
      margin: 0 auto;
      @include e("title") {
        @include e("inner") {
          padding: 6em 50% 0 0;
          div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 2.3em;
            color: $main-color;
          }
          p {
            margin: 0.8em 0 1em;
            font-size: 0.9em;
            color: $font-color;
            // word-spacing: 0.05em;
            line-height: 1.5em;
          }
        }
      }

      @include e("content") {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 2%;
        row-gap: 2em;
        padding-bottom: 6em;

        .training-class:nth-child(2n + 1) {
          margin-top: 4.5em;
        }

        .training-class:nth-child(2n) {
          margin-bottom: 4.5em;
        }
      }
    }

    @include e("imageShow") {
    }

    @include e("timeTable") {
      width: 80%;
      margin: 0 auto;
      @include e("title") {
        padding: 4em 0 0.8em;
        @include e("inner") {
          padding: 0 20%;
          text-align: center;
          div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 2.3em;
            color: $main-color;
          }
          p {
            margin: 0.8em 0 1em;
            font-size: 0.9em;
            color: $font-color;
            // word-spacing: 0.05em;
            line-height: 1.5em;
          }
        }
      }

      @include e("content") {
      }
    }

    @include e("news") {
      width: 80%;
      margin: 0 auto;
      margin-top: 10em;

      @include e("container") {
        padding: 0 1%;
      }
    }

    @include e("reviews") {
      width: 100%;
      margin-top: 8em;
      @include e("introduction") {
        height: 21em;
        background-color: $light-border-color;
        @include e("inner") {
          padding: 5em 25% 0em;
          text-align: center;
          div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 2.3em;
            color: $main-color;
          }
          p {
            margin: 0.8em 0 1em;
            font-size: 0.9em;
            color: $font-color;
            line-height: 1.5em;
          }
        }
      }
    }

    @include e("numbers") {
      width: 80%;
      margin: 2em auto 0em;
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      column-gap: 1%;
      row-gap: 1em;
      @include e("item") {
        text-align: center;
      }
    }

    @include e("trainers") {
      margin: 6em 0 0;
      @include e("introduction") {
        width: 80%;
        margin: 0 auto;
        @include e("inner") {
          padding: 1em 30% 0 0;
          div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 2.3em;
            color: $main-color;
          }
          p {
            margin: 0.8em 0 1em;
            font-size: 0.9em;
            color: $font-color;
            line-height: 1.5em;
          }
        }
      }

      @include e("background") {
        width: 100%;
        margin: 0 auto;
        margin-top: -2em;
        text-align: end;
        display: block;
        div {
          display: inline-block;
          text-transform: capitalize;
          font-size: 12em;
          font-family: $font-family-number;
          color: $sub-main-color;
          font-weight: 700;
          opacity: 0.18;
        }
      }

      @include e("list") {
        width: 80%;
        margin: 0 auto;
        margin-top: -4.25em;
        .trainer {
          display: inline-block;
          width: 32%;
          margin-right: 2%;
          &:nth-last-child(1) {
            margin-right: 0% !important;
          }
        }
      }
    }

    @include e("brands") {
      width: 100%;
      margin-top: 6em;
      background-color: #faf3ed;

      @include e("slick-autoplay") {
        padding: 6em 10%;
        @include e("item") {
          img {
            width: 100%;
            height: auto;
          }
        }

        .slick-track {
          padding: 0;
        }

        .slick-slide {
          margin: 0 0.3em;
        }
      }
    }
    @include e("map") {
      width: 100%;
    }
    @include e("contactUs") {
      width: 80%;
      margin: 4em auto 0;
      padding: 3em 0 7em;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  html {
    font-size: 18px !important;
  }

  .home__body__slider {
    .slider__arrow {
      margin: 0 1.1em;
      i {
        font-size: 1.2em;
      }
    }
    .slider__slick-autoplay__item {
      img {
        height: 21em;
      }
      .slider__slick-autoplay__item__caption {
        width: 88%;
        .slider__slick-autoplay__item__caption__title {
          font-size: 1.9em;
        }
        .slider__slick-autoplay__item__caption__content {
          padding: 0 3em;
          font-size: 0.8em;
        }
        .slider__slick-autoplay__item__caption__more {
          margin-top: 1em;
          .slider__slick-autoplay__item__caption__more__btn {
            font-size: 0.5em;
          }
          .slider__slick-autoplay__item__caption__more__btn-default {
            .default-button {
              padding: 0.31em 1.6em;
              .default-button__content {
                font-size: 0.5em;
              }
            }
          }
        }
      }
    }
  }

  .home__body__intro {
    display: none;
  }
  .home__body__intro-slick-autoplay {
    display: block;
    margin-top: -3em;
  }

  .home__body__trainingClass {
    .home__body__trainingClass__title__inner {
      padding: 3.5em 0 0 0;
    }
    .home__body__trainingClass__content {
      grid-template-columns: 100%;
      column-gap: 0%;
      row-gap: 5em;
      padding-bottom: 7em;
      margin-top: 2em;
      .training-class:nth-child(2n + 1) {
        margin-top: 0em;
      }
      .training-class:nth-child(2n) {
        margin-bottom: 0em;
      }
      .training-class {
        flex-direction: column;
        .training-class__image {
          width: 100%;
        }
        .training-class__info {
          width: 100%;
          margin-left: 0%;
          margin-top: 2em;
        }
      }
    }
  }

  .home__body__imageShow {
    .image-show {
      grid-template-columns: 100%;
      grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
      .image-show__item {
        height: auto;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .image-show__img1 {
        margin: 0 0 9px 0;
      }
      .image-show__img2 {
        margin: 0 0 9px 0;
      }
      .image-show__img3 {
        margin: 0 0 9px 0;
      }
      .image-show__img4 {
        margin: 0 0 9px 0;
      }
      .image-show__img5 {
        margin: 0 0 9px 0;
      }
      .image-show__img6 {
        margin: 0;
      }
    }
  }

  .home__body__timeTable {
    .home__body__timeTable__title {
      .home__body__timeTable__title__inner {
        padding: 0;
      }
    }
    .home__body__timeTable__content {
      .time-table__tabs {
        ul {
          display: grid;
          grid-template-columns: 48% 48%;
          column-gap: 1%;
          row-gap: 1em;
          li {
            margin-right: 0em;
          }
        }
      }
      .time-table__list-events {
        display: block;
      }
      .time-table__table-events {
        display: none;
      }
    }
  }

  .home__body__news {
    margin-top: 5em;
    .home__body__news__container {
      .news {
        height: auto;
        display: block;
        .news__info {
          width: 100%;
          margin: 0 0 3em 0;
        }
        .news__image {
          width: 100%;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .home__body__reviews {
    .home__body__reviews__introduction {
      .home__body__reviews__introduction__inner {
        padding: 3em 5% 0em;
      }
    }
  }

  .home__body__numbers {
    grid-template-columns: 100%;
    column-gap: 0%;
  }

  .home__body__trainers {
    .home__body__trainers__introduction__inner {
      padding: 1em 0 0 0;
    }
    .home__body__trainers__background {
      display: none;
    }
    .home__body__trainers__list {
      margin-top: 3em;
      .trainer {
        display: block;
        width: 100%;
        margin: 0 0 3em 0;
        .trainer__info {
          text-align: left;
          margin-top: 4%;
        }
      }
    }
  }

  .home__body__map {
    margin-top: 5em;
    .map {
      height: 28em;
    }
  }

  .home__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        flex-basis: 100%;
        margin: 3em 0 0 0;
      }
      .contact-us__sub-info {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 18px !important;
  }

  .home__body__slider {
    .slider__arrow {
      margin: 0 1.5em;
      i {
        font-size: 1.4em;
      }
    }
    .slider__slick-autoplay__item {
      img {
        height: auto;
      }
      .slider__slick-autoplay__item__caption {
        width: 85%;
        .slider__slick-autoplay__item__caption__title {
          font-size: 2.3em;
        }
        .slider__slick-autoplay__item__caption__content {
          padding: 0 4em;
          font-size: 0.8em;
        }
        .slider__slick-autoplay__item__caption__more {
          margin-top: 1em;
          .slider__slick-autoplay__item__caption__more__btn {
            font-size: 0.6em;
          }
          .slider__slick-autoplay__item__caption__more__btn-default {
            .default-button {
              padding: 0.54em 2em;
              .default-button__content {
                font-size: 0.6em;
              }
            }
          }
        }
      }
    }
  }

  .home__body__intro {
    display: none;
  }
  .home__body__intro-slick-autoplay {
    display: block;
    margin-top: -4em;
  }

  .home__body__trainingClass {
    .home__body__trainingClass__title__inner {
      padding: 4em 15% 0 0;
    }
    .home__body__trainingClass__content {
      grid-template-columns: 48% 48%;
      column-gap: 4%;
      row-gap: 2em;
      padding-bottom: 8em;
      margin-top: 2em;
      .training-class:nth-child(2n + 1) {
        margin-top: 4.5em;
      }
      .training-class:nth-child(2n) {
        margin-bottom: 4.5em;
      }
      .training-class {
        flex-direction: column;
        .training-class__image {
          width: 100%;
        }
        .training-class__info {
          width: 100%;
          margin-left: 0%;
          margin-top: 1em;
        }
      }
    }
  }

  .home__body__imageShow {
    .image-show {
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6";
      .image-show__item {
        height: 18em;
      }
      .image-show__img1 {
        margin: 0 9px 9px 0;
      }
      .image-show__img2 {
        margin: 0 0 9px 0;
      }
      .image-show__img3 {
        margin: 0 9px 9px 0;
      }
      .image-show__img4 {
        margin: 0 0 9px 0;
      }
      .image-show__img5 {
        margin: 0 9px 0 0;
      }
      .image-show__img6 {
        margin: 0;
      }
    }
  }

  .home__body__timeTable {
    .home__body__timeTable__title {
      .home__body__timeTable__title__inner {
        padding: 0 4%;
      }
    }
    .home__body__timeTable__content {
      .time-table__tabs {
        ul {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          column-gap: 0.33%;
          row-gap: 1em;
          li {
            margin-right: 0em;
          }
        }
      }
      .time-table__list-events {
        display: block;
      }
      .time-table__table-events {
        display: none;
      }
    }
  }

  .home__body__news {
    margin-top: 5em;
    .home__body__news__container {
      .news {
        height: auto;
        display: block;
        .news__info {
          width: 100%;
          margin: 0 0 3em 0;
        }
        .news__image {
          width: 100%;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .home__body__reviews {
    .home__body__reviews__introduction {
      .home__body__reviews__introduction__inner {
        padding: 5em 10% 0em;
      }
    }
  }

  .home__body__numbers {
    grid-template-columns: 100%;
    column-gap: 0%;
  }

  .home__body__trainers {
    .home__body__trainers__introduction__inner {
      padding: 1em 0 0 0;
    }
    .home__body__trainers__background {
      display: none;
    }
    .home__body__trainers__list {
      margin-top: 3em;
      .trainer {
        display: block;
        width: 100%;
        margin: 0 0 3em 0;
        .trainer__info {
          text-align: left;
          margin-top: 4%;
        }
      }
    }
  }

  .home__body__map {
    .map {
      height: 28em;
    }
  }

  .home__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        flex-basis: 100%;
        margin: 3em 0 0 0;
      }
      .contact-us__sub-info {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 19px !important;
  }

  .home__body__slider {
    .slider__arrow {
      margin: 0 1.8em;
      i {
        font-size: 1.6em;
      }
    }
    .slider__slick-autoplay__item {
      img {
        height: auto;
      }
      .slider__slick-autoplay__item__caption {
        width: 85%;
        .slider__slick-autoplay__item__caption__title {
          font-size: 2.7em;
        }
        .slider__slick-autoplay__item__caption__content {
          padding: 0 4em;
          font-size: 0.8em;
        }
        .slider__slick-autoplay__item__caption__more {
          margin-top: 2em;
          .slider__slick-autoplay__item__caption__more__btn {
            font-size: 0.6em;
          }
          .slider__slick-autoplay__item__caption__more__btn-default {
            .default-button {
              padding: 0.54em 2em;
              .default-button__content {
                font-size: 0.6em;
              }
            }
          }
        }
      }
    }
  }

  .home__body__intro {
    display: none;
  }
  .home__body__intro-slick-autoplay {
    display: block;
    margin-top: -5.5em;
  }

  .home__body__trainingClass {
    .home__body__trainingClass__title__inner {
      padding: 5em 30% 0 0;
    }
    .home__body__trainingClass__content {
      grid-template-columns: 48% 48%;
      column-gap: 4%;
      row-gap: 2em;
      padding-bottom: 7em;
      margin-top: 2em;
      .training-class:nth-child(2n + 1) {
        margin-top: 4.5em;
      }
      .training-class:nth-child(2n) {
        margin-bottom: 4.5em;
      }
      .training-class {
        flex-direction: column;
        .training-class__image {
          width: 100%;
        }
        .training-class__info {
          width: 100%;
          margin-left: 0%;
          margin-top: 1em;
        }
      }
    }
  }

  .home__body__imageShow {
    .image-show {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6";
      .image-show__item {
        height: 17em;
      }
      .image-show__img1 {
        margin: 0 9px 9px 0;
      }
      .image-show__img2 {
        margin: 0 9px 9px 0;
      }
      .image-show__img3 {
        margin: 0 0 9px 0;
      }
      .image-show__img4 {
        margin: 0 9px 0 0;
      }
      .image-show__img5 {
        margin: 0 9px 0 0;
      }
      .image-show__img6 {
        margin: 0;
      }
    }
  }

  .home__body__timeTable {
    .home__body__timeTable__title {
      .home__body__timeTable__title__inner {
        padding: 0 8%;
      }
    }
    .home__body__timeTable__content {
      .time-table__tabs {
        ul {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          column-gap: 0.33%;
          row-gap: 1em;
          li {
            margin-right: 0em;
          }
        }
      }
      .time-table__list-events {
        display: block;
      }
      .time-table__table-events {
        display: none;
      }
    }
  }

  .home__body__news {
    margin-top: 5em;
    .home__body__news__container {
      .news {
        height: auto;
        display: block;
        .news__info {
          width: 100%;
          margin: 0 0 3em 0;
        }
        .news__image {
          width: 100%;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .home__body__reviews {
    .home__body__reviews__introduction {
      .home__body__reviews__introduction__inner {
        padding: 5em 20% 0em;
      }
    }
  }

  .home__body__numbers {
    grid-template-columns: 49% 49%;
    column-gap: 1%;
  }

  .home__body__trainers {
    .home__body__trainers__introduction__inner {
      padding: 1em 15% 0 0;
    }
    .home__body__trainers__background {
      display: none;
    }
    .home__body__trainers__list {
      margin-top: 3em;
      .trainer {
        display: block;
        width: 100%;
        margin: 0 0 3em 0;
        .trainer__info {
          text-align: left;
          margin-top: 4%;
        }
      }
    }
  }

  .home__body__map {
    .map {
      height: 29em;
    }
  }

  .home__body__contactUs {
    .contact-us {
      flex-direction: column-reverse;
      .contact-us__form {
        flex-basis: 100%;
        margin: 3em 0 0 0;
      }
      .contact-us__sub-info {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 19px !important;
  }

  .home__body__slider {
    .slider__arrow {
      margin: 0 2em;
      i {
        font-size: 1.8em;
      }
    }
    .slider__slick-autoplay__item {
      img {
        height: auto;
      }
      .slider__slick-autoplay__item__caption {
        width: 80%;
        .slider__slick-autoplay__item__caption__title {
          font-size: 3.3em;
        }
        .slider__slick-autoplay__item__caption__content {
          padding: 0 6em;
          font-size: 1em;
        }
        .slider__slick-autoplay__item__caption__more {
          margin-top: 2em;
          .slider__slick-autoplay__item__caption__more__btn {
            font-size: 0.8em;
          }
          .slider__slick-autoplay__item__caption__more__btn-default {
            .default-button {
              padding: 0.89em 2.8em;
              .default-button__content {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }

  .home__body__intro {
    display: none;
  }
  .home__body__intro-slick-autoplay {
    display: block;
    margin-top: -8em;
  }

  .home__body__trainingClass {
    .home__body__trainingClass__title__inner {
      padding: 5em 40% 0 0;
    }
    .home__body__trainingClass__content {
      grid-template-columns: 48% 48%;
      column-gap: 4%;
      row-gap: 2em;
      padding-bottom: 6em;
      margin-top: 0em;
      .training-class:nth-child(2n + 1) {
        margin-top: 4.5em;
      }
      .training-class:nth-child(2n) {
        margin-bottom: 4.5em;
      }
      .training-class {
        flex-direction: row;
        .training-class__image {
          width: 50%;
        }
        .training-class__info {
          width: 50%;
          margin-left: 4%;
          margin-top: 0em;
        }
      }
    }
  }

  .home__body__imageShow {
    .image-show {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6";
      .image-show__item {
        height: 19em;
      }
      .image-show__img1 {
        margin: 0 9px 9px 0;
      }
      .image-show__img2 {
        margin: 0 9px 9px 0;
      }
      .image-show__img3 {
        margin: 0 0 9px 0;
      }
      .image-show__img4 {
        margin: 0 9px 0 0;
      }
      .image-show__img5 {
        margin: 0 9px 0 0;
      }
      .image-show__img6 {
        margin: 0;
      }
    }
  }

  .home__body__timeTable {
    .home__body__timeTable__title {
      .home__body__timeTable__title__inner {
        padding: 0 14%;
      }
    }
    .home__body__timeTable__content {
      .time-table__tabs {
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 2em;
          row-gap: 1em;
          li {
            margin-right: 0em;
          }
        }
      }
      .time-table__list-events {
        display: none;
      }
      .time-table__table-events {
        display: block;
      }
    }
  }

  .home__body__news {
    margin-top: 10em;
    .home__body__news__container {
      .news {
        height: 24em;
        display: flex;
        .news__info {
          width: 40%;
          margin: 0 4% 0 0;
        }
        .news__image {
          width: 60%;
          img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .home__body__reviews {
    .home__body__reviews__introduction {
      .home__body__reviews__introduction__inner {
        padding: 5em 25% 0em;
      }
    }
  }

  .home__body__numbers {
    grid-template-columns: 49% 49%;
    column-gap: 1%;
  }

  .home__body__trainers {
    .home__body__trainers__introduction__inner {
      padding: 1em 30% 0 0;
    }
    .home__body__trainers__background {
      display: block;
    }
    .home__body__trainers__list {
      margin-top: -4.25em;
      .trainer {
        display: inline-block;
        width: 32%;
        margin: 0 2% 0 0;
        .trainer__info {
          text-align: center;
          margin-top: 5%;
        }
        &:nth-last-child(1) {
          margin-right: 0% !important;
        }
      }
    }
  }

  .home__body__map {
    .map {
      height: 29em;
    }
  }

  .home__body__contactUs {
    .contact-us {
      flex-direction: row;
      .contact-us__form {
        flex-basis: 50%;
        margin: 0 2em 0 0;
      }
      .contact-us__sub-info {
        flex-basis: 50%;
        margin: 0 0 0 2em;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px !important;
  }

  .home__body__slider {
    .slider__arrow {
      margin: 0 2em;
      i {
        font-size: 2em;
      }
    }
    .slider__slick-autoplay__item {
      img {
        height: auto;
      }
      .slider__slick-autoplay__item__caption {
        width: 80%;
        .slider__slick-autoplay__item__caption__title {
          font-size: 3.6em;
        }
        .slider__slick-autoplay__item__caption__content {
          padding: 0 6em;
          font-size: 1em;
        }
        .slider__slick-autoplay__item__caption__more {
          margin-top: 3em;
          .slider__slick-autoplay__item__caption__more__btn {
            font-size: 0.8em;
          }
          .slider__slick-autoplay__item__caption__more__btn-default {
            .default-button {
              padding: 0.9em 2.8em;
              .default-button__content {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }

  .home__body__intro {
    display: flex;
  }
  .home__body__intro-slick-autoplay {
    display: none;
  }

  .home__body__trainingClass {
    .home__body__trainingClass__title__inner {
      padding: 6em 50% 0 0;
    }
    .home__body__trainingClass__content {
      grid-template-columns: 48% 48%;
      column-gap: 4%;
      row-gap: 2em;
      padding-bottom: 6em;
      margin-top: 0em;
      .training-class:nth-child(2n + 1) {
        margin-top: 4.5em;
      }
      .training-class:nth-child(2n) {
        margin-bottom: 4.5em;
      }
      .training-class {
        flex-direction: row;
        .training-class__image {
          width: 50%;
        }
        .training-class__info {
          width: 50%;
          margin-left: 5%;
          margin-top: 0em;
        }
      }
    }
  }

  .home__body__imageShow {
    .image-show {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6";
      .image-show__item {
        height: 20em;
      }
      .image-show__img1 {
        margin: 0 9px 9px 0;
      }
      .image-show__img2 {
        margin: 0 9px 9px 0;
      }
      .image-show__img3 {
        margin: 0 0 9px 0;
      }
      .image-show__img4 {
        margin: 0 9px 0 0;
      }
      .image-show__img5 {
        margin: 0 9px 0 0;
      }
      .image-show__img6 {
        margin: 0;
      }
    }
  }

  .home__body__timeTable {
    .home__body__timeTable__title {
      .home__body__timeTable__title__inner {
        padding: 0 20%;
      }
    }
    .home__body__timeTable__content {
      .time-table__tabs {
        ul {
          display: flex;
          li {
            margin-right: 1.5em;
            &:nth-last-child(1) {
              margin-right: 0em;
            }
          }
        }
      }
      .time-table__list-events {
        display: none;
      }
      .time-table__table-events {
        display: block;
      }
    }
  }

  .home__body__news {
    margin-top: 10em;
    .home__body__news__container {
      .news {
        height: 24em;
        display: flex;
        .news__info {
          width: 40%;
          margin: 0 4% 0 0;
        }
        .news__image {
          width: 60%;
          img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .home__body__reviews {
    .home__body__reviews__introduction {
      .home__body__reviews__introduction__inner {
        padding: 5em 25% 0em;
      }
    }
  }

  .home__body__numbers {
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1%;
  }

  .home__body__trainers {
    .home__body__trainers__introduction__inner {
      padding: 1em 30% 0 0;
    }
    .home__body__trainers__background {
      display: block;
    }
    .home__body__trainers__list {
      margin-top: -4.25em;
      .trainer {
        display: inline-block;
        width: 32%;
        margin: 0 2% 0 0;
        .trainer__info {
          text-align: center;
          margin-top: 5%;
        }
        &:nth-last-child(1) {
          margin-right: 0% !important;
        }
      }
    }
  }

  .home__body__map {
    .map {
      height: 30em;
    }
  }

  .home__body__contactUs {
    .contact-us {
      flex-direction: row;
      .contact-us__form {
        flex-basis: 50%;
        margin: 0 2em 0 0;
      }
      .contact-us__sub-info {
        flex-basis: 50%;
        margin: 0 0 0 2em;
      }
    }
  }
}
