@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=vietnamese');

$main-color: #58b1e1;
$sub-main-color: #6a9cb6;
$font-color: #29424e;
$font-note-color: rgb(187, 184, 184);
$color-hover: #e37f2b;
$font-size-title-item: 1.2em;
$font-title: 'Montserrat', sans-serif;
$font-body: 'Merriweather', serif;

// $width-book: 120px;
// $height-book: 165px;
$width-book: 60px;
$height-book: 82px;
$font-size: 15px;

* body {
	font-family: $font-body;
	.title,
	&--title {
		font-family: $font-title;
	}
}

.my-container {
	max-width: 1180px;
	margin: 0px auto;
}
