$main-color: #6fd6ff;
$sub-main-color: #6a9cb6;
$font-color: #29424e;
$font-note-color: rgb(187, 184, 184);
$color-hover: #e37f2b;
$font-size-title-item: 1.2em;
$font-title: 'Montserrat', sans-serif;
$font-body: 'Merriweather', serif;

* body {
	font-family: $font-body;
	.title {
		font-family: $font-title;
	}
}

.my-container {
	max-width: 1180px;
	margin: 0px auto;
}
