@import "../../../../default.scss";

.stand-out-post-main {
	padding-top: 12px;
	padding-bottom: 12px;
	height: 455px;
	.stand-out-post {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
		.stand-out-post_active {
			height: 100%;
			flex: 2;
			padding-right: 6px;
			.img {
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center;
				width: 411px;
				height: 240px;
				transition: transform 2s ease-out;
				&:hover {
					transform: scale(1.01);
				}
			}
			div a {
				text-decoration: none;
			}
			.book {
				margin-top: -21px;
				z-index: 1;
				text-align: center;
				a {
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
					background-color: rgba(255, 255, 255, 1);
					border-radius: 10px;
					font-size: 0.8em;
					color: #555555;
					padding: 5px 20px;
				}
				a:hover {
					font-weight: bold;
					color: $color-hover;
				}
			}
			.title {
				a {
					font-weight: bold;
					font-size: 1.3em;
					color: #555555;
				}
				a:hover {
					color: $color-hover;
				}
			}
			.author-time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 5px 10px;
				.author {
					a {
						text-decoration: none;
						color: #2b2a2a;
						font-weight: bold;
						font-size: 0.9em;
					}
					a:hover {
						color: $color-hover;
					}
				}
				.time {
					color: rgb(180, 180, 180);
					font-size: 0.9em;
				}
				.love {
					font-weight: bold;
					color: red;
				}
			}
			.decription {
				color: rgb(145, 143, 143) !important;
				text-align: justify;
			}
		}
		.stand-out-post_posts {
			overflow: auto;
			flex: 1;
			padding-left: 6px;
		}
		.empty {
			height: 100%;
			text-align: center;
			color: rgb(207, 203, 203);
			margin: 30px auto;
		}
	}
}

@media only screen and (max-width: 600px) {
	.stand-out-post-wrap {
		.stand-out-post {
			flex-direction: column;
		}
	}
}
