@import "../../../../default.scss";

.stand-out-post-wrap {
	display: flex;
	flex-direction: column;

	.stand-out-post {
		display: flex;
		.active {
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.img {
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center;
				width: 411px;
				height: 240px;
				transition: transform 2s ease-out;
				&:hover {
					transform: scale(1.01);
				}
			}
			div a {
				text-decoration: none;
			}
			.book {
				margin-top: -21px;
				z-index: 1;
				text-align: center;
				a {
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
					background-color: rgba(255, 255, 255, 1);
					border-radius: 10px;
					font-size: 0.8em;
					color: #555555;
					padding: 5px 20px;
				}
				a:hover {
					font-weight: bold;
					color: $color-hover;
				}
			}
			.title {
				a {
					font-weight: bold;
					font-size: 1.3em;
					color: #555555;
				}
				a:hover {
					color: $color-hover;
				}
			}
			.author-time {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 5px 10px;
				.author {
					a {
						text-decoration: none;
						color: #2b2a2a;
						font-weight: bold;
						font-size: 0.9em;
					}
					a:hover {
						color: $color-hover;
					}
				}
				.time {
					color: rgb(180, 180, 180);
					font-size: 0.9em;
				}
				.love {
					font-weight: bold;
					color: red;
				}
			}
			.decription {
				color: rgb(145, 143, 143) !important;
				text-align: justify;
			}
		}
		.post {
			overflow: auto;
			height: 455px;
		}
		.empty {
			text-align: center;
			color: rgb(207, 203, 203);
			margin: 30px auto;
		}
	}
}

@media only screen and (max-width: 600px) {
	.stand-out-post-wrap {
		.stand-out-post {
			flex-direction: column;
		}
	}
}
