@import "../../default.scss";

#saved-book-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#saved-book {
	&__img {
		&--src {
			width: 132px;
			height: 172px;
		}
	}
}

#saved-book--img a img:hover {
	box-shadow: 0px 5px 4px rgb(97, 95, 95);
}

#saved-book--name {
	margin: 10px auto 5px;
}
#saved-book--name * {
	color: $main-color;
	font-weight: bold;
	font-size: $font-size-title-item;
}

#saved-book--name *:hover {
	color: $color-hover;
	text-decoration: none;
}

#saved-book--author {
	color: rgb(95, 95, 95);
}

#saved-book--rate {
	margin-top: 5px;
}
#saved-book--rate i {
	color: rgb(231, 212, 36);
	margin-left: 3px;
	margin-right: 3px;
}
