
@import "../../../../default.scss";


.member-main {
    @include e("filter"){
        margin: 2em 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include e("input"){
            width: 200px;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #000;
        }
    }
}