@import '../../../../default.scss';
.information-wrap {
	$size-avata: 120px;
	display: flex;
	justify-content: center;
	.infor-user {
		.img {
			text-align: center;
			margin-bottom: 10px;
			img {
				width: $size-avata;
				height: $size-avata;
				border-radius: 50%;
			}
		}
		.first-line {
			display: flex;
			text-align: center;
			flex-direction: column;
			.name {
				font-weight: bold;
				color: #505050;
				font-size: 1em;
			}
			.follow {
				margin-left: 10px;
				padding: 3px 10px;
				border-radius: 10px;
				box-shadow: 0 3px 6px rgba(68, 65, 65, 0.3);
				font-size: 0.7em;
				text-align: center;
				color: #888888;
				border: 0.4px solid #888888;
				&:hover {
					box-shadow: 0 3px 6px rgba(68, 65, 65, 0.4);
					cursor: pointer;
				}
			}
			.score {
				margin-bottom: 10px;
				font-size: 0.7em;
				color: rgb(168, 168, 168);
			}
		}
	}
	.infor-detail {
		margin-left: 10px;
		div {
			margin-bottom: 10px;
		}

		.description {
			color: #888888;
			padding-left: 30px;
		}
		.quote-wrap {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			// border-left: 4px solid rgb(168, 168, 168);
			margin-left: 30px;
			box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
			.quote {
				padding-left: 15px;
				align-self: center;
				.lable {
					color: #505050;
					font-weight: bold;
					font-size: 0.9em;
					padding-top: 10px;
				}
				.quote-detail,
				.quote-empty {
					color: #888888;
					font-style: italic;
					padding-right: 10px;
					padding-left: 15px;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.information-wrap {
		flex-direction: column;
		.infor-user {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
}
