.editor-title {
    float: left;
    width: 100%;
    input {
        float: left;
        width: calc(100% - 150px);
        border-bottom: dashed #58B1E1;
        border-top: none;
        border-right: none;
        border-left: none;
        height: 50px;
        font-size: 40px;
    }
    input:focus {
        outline: none;
    }
    .public-button {
        padding: 10px 0;
        position: absolute;
        right: 0px;
        button {
            width: 150px;
            height: 40px;
            border: solid 3px #369bd2;
            background-color: #369bd2;
            color: #fff;
            font-weight: 600;
            border-radius: 3px;
        }
    }


}

.editor-main {
    max-height: 600px;
    overflow: auto;
    .editor-post-basic {
        height: 250px;
        display: flex;
        margin-top: 18px;
        .editor-description {
            flex-basis: 50%;
            width: 100%;
            float: left;
          
            textarea {
                height: 197px;
                width: 100%;
                
                float: left;
                border-left: none;
                border-top: none;
                border-right: none;
                border-bottom: none;
            }
            textarea:focus {
                outline: none
            }
        }
        .editor-thumbnail {
            flex-basis: 50%;
            float: left;
            height: 100%;
            .upload-image-button {
              
               float: left;
               margin-top: 12px;
               text-align: left;
               padding-bottom: 5px;
               width: 100%;
               font-weight: 600;
               button  {
                    border: navajowhite;
                    margin-right: 8px;
               }
            }
            .image {
               
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
                object-fit: cover;
                border-radius: 8px;
                height: 200px;
                border: solid  #58B1E1;
                
            }
        }
    }
    
}