@import "../../../../default.scss";
.tesmonials {
    @include e("reviews") {
        width: 100%;
        margin-top: 8em;
        @include e("introduction") {
        height: 21em;
        background-color: $light-border-color;
        @include e("inner") {
            padding: 5em 25% 0em;
            text-align: center;
            div {
            text-transform: capitalize;
            font-family: $font-family-special;
            font-size: 2.4em;
            color: $main-color;
            }
            p {
            margin: 0.8em 0 1em;
            font-size: 1em;
            color: $font-color;
            line-height: 1.5em;
            }
        }
        }

        @include e("slick-autoplay") {
        width: 100%;
        margin-top: -6em;
        padding: 0 8%;

        @include e("item") {
            .review {
            //height: 20em;
            }
        }

        .slick-dots {
            text-align: center;
            padding: 0;
            margin-top: 1em;
        }

        button {
            padding: 0;
            text-shadow: none;
            color: transparent;
            background-color: transparent;
            border: 1px solid $sub-main-color;
            outline: none;
            border-radius: 50%;
            width: 0.8em;
            height: 0.8em;
            cursor: pointer;
        }

        li {
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
        }

        .slick-active button {
            background-color: $sub-main-color;
        }

        .slick-track {
            padding: 1em 0;
        }

        .slick-slide {
            margin: 0 1em;
            height: auto;
            width: 100%;
        }
        }
    }
  }