@import "../../default.scss";

html,
body {
  background-color: lighten($sub-main-color, 27%);
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  @include e("header") {
  }
  @include e("sidebar") {
    width: 20%;
    .sidebar {
      position: fixed;
      width: 20%;
    }
  }
  @include e("body") {
    min-height: 100%;
    width: 78%;
    margin: 0 1%;
    @include e("numbers") {
      margin: 4em 0 3em;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 2em;
      row-gap: 1em;
    }
    @include e("card") {
      margin: 0 0 3em;
      background-color: #fff;
      padding: 1em;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      @include e("title") {
        width: 10em;
        position: absolute;
        top: -0.8em;
        left: 0.8em;
        padding: 1em 0;
        text-align: center;
        background-color: $main-color;
        color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
        box-shadow: 1px 1px 5px rgba(0, 163, 175, 0.5);
      }
      @include e("content") {
        padding: 3em 0;
        @include e("chart") {
          @include e("filter") {
          }
          @include e("row") {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .columnChart {
              margin-top: 2em;
              margin-bottom: 1em;
            }
            .pieChart {
              margin-top: 2em;
              margin-bottom: 1em;
            }
          }
          @include e("single") {
            .lineChart {
              margin-top: 2em;
              margin-bottom: 1em;
              width: 100%;
              margin-right: 0;
            }
          }
        }
      }
    }

    @include e("table") {
      margin: 0 0 3em;
    }
    @include e("activities") {
      margin: 0 0 3em;
      // display: flex;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 1em;
      row-gap: 1em;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  html {
    font-size: 18px !important;
  }

  .dashboard__sidebar {
    width: 0%;
    .sidebar {
      position: fixed;
      width: 0%;
    }
  }

  .dashboard__body {
    width: 90%;
    margin: 0 5%;
  }

  .dashboard__body__numbers {
    grid-template-columns: auto;
    column-gap: 0em;
    .numberAdmin__inner__info {
      .numberAdmin__inner__info__quantity {
        float: right;
      }
    }
  }

  .dashboard__body__card__content__chart__row {
    flex-direction: column;
    .columnChart {
      width: 100%;
      margin-right: 0;
    }
    .lineChart {
      width: 100%;
      margin-right: 0;
    }
    .pieChart {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 100%;
    }
  }

  .dashboard__body__activities {
    grid-template-columns: auto;
    column-gap: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 18px !important;
  }

  .dashboard__sidebar {
    width: 0%;
    .sidebar {
      position: fixed;
      width: 0%;
    }
  }

  .dashboard__body {
    width: 90%;
    margin: 0 5%;
  }

  .dashboard__body__numbers {
    grid-template-columns: auto auto;
    column-gap: 1em;
    .numberAdmin__inner__info {
      .numberAdmin__inner__info__quantity {
        float: right;
      }
    }
  }

  .dashboard__body__card__content__chart__row {
    flex-direction: column;
    .columnChart {
      width: 100%;
      margin-right: 0;
    }
    .lineChart {
      width: 100%;
      margin-right: 0;
    }
    .pieChart {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 100%;
    }
  }

  .dashboard__body__activities {
    grid-template-columns: auto;
    column-gap: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 19px !important;
  }

  .dashboard__sidebar {
    width: 0%;
    .sidebar {
      position: fixed;
      width: 0%;
    }
  }

  .dashboard__body {
    width: 90%;
    margin: 0 5%;
  }

  .dashboard__body__numbers {
    grid-template-columns: auto auto;
    column-gap: 2em;
    .numberAdmin__inner__info {
      .numberAdmin__inner__info__quantity {
        float: right;
      }
    }
  }

  .dashboard__body__card__content__chart__row {
    flex-direction: column;
    .columnChart {
      width: 100%;
      margin-right: 0;
    }
    .lineChart {
      width: 100%;
      margin-right: 0;
    }
    .pieChart {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .dashboard__body__activities {
    grid-template-columns: auto auto;
    column-gap: 1em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 19px !important;
  }

  .dashboard__sidebar {
    width: 20%;
    .sidebar {
      position: fixed;
      width: 20%;
    }
  }

  .dashboard__body {
    width: 78%;
    margin: 0 1%;
  }

  .dashboard__body__numbers {
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5em;
    .numberAdmin__inner__icon {
      margin-right: 0.5em;
    }
    .numberAdmin__inner__info {
      margin-right: 0.5em;
      .numberAdmin__inner__info__quantity {
        float: none;
      }
    }
  }

  .dashboard__body__card__content__chart__row {
    flex-direction: column;
    .columnChart {
      width: 100%;
      margin-right: 0;
    }
    .lineChart {
      width: 100%;
      margin-right: 0;
    }
    .pieChart {
      margin: auto;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .dashboard__body__activities {
    grid-template-columns: auto auto;
    column-gap: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px !important;
  }

  .dashboard__sidebar {
    width: 20%;
    .sidebar {
      position: fixed;
      width: 20%;
    }
  }

  .dashboard__body {
    width: 78%;
    margin: 0 1%;
  }

  .dashboard__body__numbers {
    grid-template-columns: auto auto auto auto;
    column-gap: 1em;
    .numberAdmin__inner__info {
      .numberAdmin__inner__info__quantity {
        float: none;
      }
    }
  }

  .dashboard__body__card__content__chart__row {
    flex-direction: row;
    .columnChart {
      width: 68%;
      margin-right: 2%;
    }
    .lineChart {
      width: 100%;
      margin-right: 0;
    }
    .pieChart {
      margin: none;
      width: 30%;
    }
  }

  .dashboard__body__card__content__linechart__row {
    flex-direction: row;
    .lineChart {
      width: 100%;
      margin-right: 2%;
    }
  }

  .dashboard__body__activities {
    grid-template-columns: auto auto auto;
    column-gap: 1em;
  }
}
